<div ng-controller="K41Controller">
  <k41-breadcrumb></k41-breadcrumb>

  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="panel panel-grey">
            <div class="panel-heading ">
                <h4>Collections service</h4>
              </div>
              <div class="panel-body">
                  <p>Collections service wrapped rest call for easier usage. This service provide following methods:
                  </p>
                  <ul>
                    <li>initPaging</li>
                    <li>getList</li>
                    <li>getAll</li>
                    <li>seeDetails</li>
                    <li>deleteItem</li>

                  </ul>
                  <h4>How to use collections service</h4>
                  <div class="col-sm-8" hljs>
                    .controller('YourController', function ($scope, collections) {
                        collections.initPaging($scope);
                        collections.getList('users', $scope); //create $scope.users list with specific page
                        collections.getAll($scope, 'users');  //returns all users
                        collections.deleteItem('users', user.id, 'Delete User Text Message', callbackFnc); //delete user
                        collections.seeDetails('userDetails', user.id); //going to userDetails state with param id: user.id
                      }
                  </div>
              </div>
            </div><!--end panel-->
        </div><!--end col-->
      </div><!--end row-->
  </div> <!-- container -->
</div>
