<div ng-controller="K41Controller">
  <k41-breadcrumb></k41-breadcrumb>

  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="panel panel-grey">
            <div class="panel-heading ">
                <h4>Controllers</h4>
              </div>
              <div class="panel-body">
                <p>We prefer using the controllerAs syntax over the classic controller with $scope syntax. Here is why:</p>
                  <ul>
                    <li>
                       Controllers are constructed, "newed" up, and provide a single new instance, and the controllerAs syntax is closer to that of a JavaScript constructor than the classic $scope syntax
                    </li>
                    <li>
                      It promotes the use of binding to a "dotted" object in the View (e.g. customer.name instead of name), which is more contextual, easier to read, and avoids any reference issues that may occur without "dotting"
                    <li>
                      Helps avoid using $parent calls in Views with nested controllers.
                    </li>
                  </ul>
                  <div class="col-sm-12">
                    <h5>Avoid</h5>
                    <div class="col-sm-8" hljs>
                      <div ng-controller="CustomerController">
                          {{ name }}
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <h5>Recomended</h5>
                    <div class="col-sm-8" hljs>
                      <div ng-controller="CustomerController as customer">
                          {{ customer.name }}
                      </div>
                    </div>
                  </div>
                <div class="col-sm-12">
                  <h4>Error Controller</h4>
                  <p>The ErrorWatchingController is intended to be used as an extension to Kode41 AngularJS
                  controllers in order to watch for server errors. </p>
                  <div class="col-sm-12">
                    <h5>Extending</h5>
                    <p>To extend the other AngularJS controller functionality to include ErrorWatchingController functionality:</p>
                    <div class="col-sm-8" hljs>
                      [controller declaration] {
                      	var self = this;
                      	angular.extend(this, $controller('ErrorWatchingController',
                      		{$scope: $scope, $rootScope: $rootScope, errorManager: errorManager}));
                      }
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <h5>Calling</h5>
                    <p>To call the ErrorWatchingController functionality, prefix the method with <b>self</b>:</p>
                    <div class="col-sm-8" hljs>
                      {
                        var self = this;
                        self.watchCall(promise, route);
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div><!--end panel-->
        </div><!--end col-->
      </div><!--end row-->
  </div> <!-- container -->
</div>
