<k41-breadcrumb></k41-breadcrumb>

<div class="container">
   <div class="row">
      <div class="col-md-12">
        <div class="panel panel-grey">
          <div class="panel-heading ">
              <h4>Placeholder</h4>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ullamcorper elementum leo, sit amet consequat ligula. In hac habitasse platea dictumst. Aenean gravida suscipit est, quis fringilla magna rutrum at. Vestibulum condimentum purus eros, in tristique sem interdum a. Etiam sollicitudin mollis diam, vel varius leo dictum in. Ut sit amet consectetur sem, ut dignissim risus. Sed convallis est a dui vehicula, sed iaculis leo elementum.</p>
              </div>
          </div><!--end panel-->
      </div><!--end col-->
    </div><!--end row-->
</div> <!-- container -->
