<div ng-controller="K41Controller">
  <k41-breadcrumb></k41-breadcrumb>

  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="panel panel-grey">
            <div class="panel-heading ">
                <h4>Rest service</h4>
              </div>
              <div class="panel-body">
                  <p>For the comunnication with API, we suggested to use
                  <a href="https://github.com/mgonto/restangular" target="blank">RestAngular</a> service. In our theme we present a generic solution how to use RestAngular in the app.</p>

                  <p>The Rest service contains all standard REST methods:</p>
                  <ul>
                    <li>Get all resource <i>all</i></li>
                    <li>Get resource details <i>get</i></li>
                    <li>Create new resource <i>post</i></li>
                    <li>Update resource <i>put</i></li>
                    <li>Update specific resource filed <i>patch</i></li>
                    <li>Remove resource <i>remove</i></li>
                  </ul>
                  <div class="col-sm-12">
                    <p>Expected format for paging is:</p>
                    <div class="col-sm-8" hljs>
                      {
                        count: 10, //total elements count
                        next: "url_to_next_page",
                        previous: "url_to_previous_page",
                        results: [] //elements from current page
                      }
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <h4>Rest service</h4>
                    <p>Add new endpoint in endpoints list.</p>
                    <div class="col-sm-8" hljs>
                      endpoints = [
                        {name: 'login', route: 'auth/', noAuth: true}, //API call without authorization
                        {name: 'users', route: 'users/'},
                        {name: 'new_endpoint', route: 'route'}
                      ];
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <h5>How to use in controllers?</h5>
                    <p>Inject <b>rest</b> into controllers and call your endpoints. </p>
                    <div class="col-sm-8" hljs>
                       .controller('YourController', function(rest) {
                        rest.users.all().then(function(users) {
                          $scope.users = users;
                        });

                        rest.users.get(id)..
                        rest.users.post(data)..
                        rest.users.put(id, data)..
                        rest.users.remove(id)..
                        rest.users.patch(id, {field: value})..
                      }
                    </div>
                  </div>
              </div>
            </div><!--end panel-->
        </div><!--end col-->
      </div><!--end row-->
  </div> <!-- container -->
</div>
