<div ng-controller="K41Controller">
  <k41-breadcrumb></k41-breadcrumb>

  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="panel panel-grey">
            <div class="panel-heading ">
                <h4>States</h4>
              </div>
              <div class="panel-body">
                  <p>How to add new state and display in navigation bar?</p>
                  <p>All states are defined in the <b>site-map</b> service. In this service you can do more then simple state creation.</p>
                  <p>Left navigation menu and page breadcrumb are generated from state service. There is an example how to add new states in the app and
                  display on the navigation bar.</p>

                  <h4>Site-map service</h4>
                  <div class="col-sm-8" hljs>
                    {
                      state: 'rootState',
                      'abstract': true,
                      url: '/root',
                      template: rootTemplate,
                      data: {
                        title: 'Root State',         //title for breadcrumb
                        nav: true,
                        icon: 'car',                 //car icon
                        userRoles: ['admin', 'user'] //who can access
                      }
                    }, {
                      state: 'child',
                      parent: 'rootState',
                      url: '/child',                 //should be root/child
                      templateUrl: 'url_to_template',
                      data: {
                        title: 'Child State',       //title for breadcrumb
                        nav: true                   //display in navigation bar
                      }
                    }, {
                      state: 'childDetails',
                      parent: 'rootState',
                      url: '/child/:id',                 //should be root/child/1
                      templateUrl: 'url_to_template',
                      data: {
                        title: 'Child State Details',    //title for breadcrumb
                        nav: false                       //do not display in navigation bar
                      }
                    }
                  </div>
              </div>
            </div><!--end panel-->
        </div><!--end col-->
      </div><!--end row-->
  </div> <!-- container -->
</div>
