<div ng-controller="K41Controller">
  <k41-breadcrumb></k41-breadcrumb>

  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="panel panel-grey">
            <div class="panel-heading ">
                <h4>Overview</h4>
            </div>
            <div class="panel-body">
            <h5>Unit Testing</h5>
            <div>
              <ul>
                <li>Tests one unit of code (e.g. a single controller, service).</li>
                <li>Greybox testing as much as possible (mostly black box but some code inspection permitted to find edge cases)</li>
                <li>Extensive use of mocks</li>
                <li>NO hitting outside servers</li>
              </ul>
              <p>
                Unit testing is performed with the karma test runner using the Mocha with <a href="http://chaijs.com" target="blank">Chai</a>
                testing framework.  To facilitate the testing of promises, <a href="http://chaijs.com/plugins/chai-as-promised" target="blank">Chai As Promised</a> is used,
                along with <a href="http://sinonjs.org" target="blank">Sinon</a> for method spying.
              </p>
              <h6>How to run unit tests</h6>
              <div hljs>
                gulp test
                    or
                gulp monitor --unit
              </div>
            </div>
            <h5>End To End Testing</h5>
            <div>
              <ul>
                <li>Tests entire system from front-end to back-end</li>
                <li>NO mocking permitted</li>
                <li>Should be black box tests based on expected use case results.</li>
              </ul>
              <p>
                End-to-end testing is performed with the <a href="https://angular.github.io/protractor/" target="blank">Protractor</a> test runner
          using the the testing framework <a href=" http://jasmine.github.io/" target="blank">Jasmine</a>.
              </p>
              <h6>How to run E2E tests</h6>
              <div hljs>
                gulp e2e --[env] --suite [suitename]
              </div>
            </div>
            <p>
              The unit test folder is structured to mirror the <i>app/src/</i> folder
              and allow developers to quickly find the individual test
              specifications.  The e2e and integration test folder structure is intended
              to allow easy categorization of the specifications according to use
              cases.
            </p>
            <div hljs>
              └── test
                  ├── unit
                  │   ├── mocks
                  │   │   └── ...
                  │   ├── shared
                  │   │   ├── controllers
                  │   │   |   ├── login.spec.js
                  │   │   |   └── ...
                  │   │   ├── services
                  │   │   |   ├── profile.spec.js
                  │   │   |   └── ...
                  │   └── app.spec.js
                  ├── karma.conf.js
                  ├── e2e
                  │   ├── authentication
                  |   |   ├── employee
                  │   │   |   └── ...
                  |   ├── administration
                  |   |   ├── user_management
                  │   │   |   ├── add_user.spec.js
                  │   │   |   └── ...
                  │   │   └── ...
                  │   └── ...
            </div>
            <h5>Code Quality</h5>
            <p>
              For static code analysis we suggested to use <a href="http://jshint.com/about/" target="blank">JSHint</a> and <a href="https://github.com/jscs-dev/node-jscs" target="blank">Jscs</a>. All validation rules are configured in
              <b>.jscsrc</b> and <b>.jshintrc</b>.
            </p>
            </div>
          </div><!--end panel-->
        </div><!--end col-->
      </div><!--end row-->
  </div> <!-- container -->
</div>
