<script>
  if (!window['k41-google-maps-loaded']) {
    $.getScript('https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&callback=mapsCallbackFunction%GM_API_KEY%', function() {
        window['k41-google-maps-loaded'] = true;
      }
    );
  } else {
    window['mapsCallbackFunction']();
  }
</script>
<div class="container" ng-controller="GeolocationController">
  <k41-breadcrumb></k41-breadcrumb>
  <div class="row">
    <div class="col-sm-6">
      <input class="form-control" ng-model="mapServ.stringAddress">
    </div>
    <div class="col-sm-6">
      <button class="btn btn-lg btn-primary" ng-click="updateLocation()">Update Marker Location</button>
      <button class="btn-lg btn btn-danger" ng-click="cancel()">Cancel</button>
      <button class="btn btn-lg btn-success" ng-click="saveLocation()">Save Location</button>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-12">
      <div id="map_canvas" class="k41-map-canvas"></div></div>
  </div>
  <div class="row">
    <div class="alert alert-error" ng-show="geolocationError">
      {{geolocationError}}
    </div>
    <k41-server-error-display title='Server Error' server-error='serverError'></k41-server-error-display>
  </div>
</div><!-- end container -->
