<form name="form1" novalidate class="form-horizontal">

  <div class="form-group">
    <label class="col-md-3 control-label">Name *</label>
    <k41-form-input-group type="child" width="3" validate="addEmplCtrl.addEmplCtrl.addEmplCtrl.submitted1" errors="[{firstName: [{required: 'You must enter a first name.'}]}]">
      <input name="firstName" ng-model="user.first_name" type="text" placeholder="First Name" class="form-control" required>
    </k41-form-input-group>
    <k41-form-input-group type="child" width="3" validate="addEmplCtrl.addEmplCtrl.submitted1" errors="[{lastName: [{required: 'You must enter a last name.'}]}]">
      <input name="lastName" ng-model="user.last_name" type="text" placeholder="Last Name" class="form-control" required>
    </k41-form-input-group>
  </div>

  <k41-form-input-group title="Email Address *" validate="addEmplCtrl.addEmplCtrl.addEmplCtrl.submitted1" errors="[{
    email: [
      {required: 'You must enter an email.'},
      {pattern: 'You must enter a valid email.'}
    ]}]">
    <input name="email" ng-model="user.email" type="text" placeholder="example@address.com"
    class="form-control" required ng-pattern="addEmplCtrl.patterns.email">
  </k41-form-input-group>

    <k41-form-input-group title="Personal Phone *" validate="addEmplCtrl.addEmplCtrl.addEmplCtrl.submitted1"
    errors="[{phoneNumber: [{pattern: 'You must enter a valid phone number.'},
                            {required: 'You must enter a personal phone number.'}]}]">
      <input name="phoneNumber" ng-model="user.phone_number" type="text" placeholder="Personal Phone"
       current-value="user.phone_number" k41-phone-number required
      class="form-control" ng-pattern="addEmplCtrl.patterns.phone">
    </k41-form-input-group>

    <k41-form-input-group title="Date Of Birth *" validate="addEmplCtrl.addEmplCtrl.addEmplCtrl.submitted1">
      <k41-date-time-picker name="dateOfBirth" ng-model="computed.dateOfBirth"></k41-date-time-picker>
    </k41-form-input-group>

    <k41-form-input-group title="Social Security Number" validate="addEmplCtrl.addEmplCtrl.addEmplCtrl.submitted1"
    errors="[{ssn: [{pattern: 'You must enter a valid social security number in the form AAA-GG-SSSS.'}]}]">
      <input name="ssn" ng-model="user.ssn" type="text" placeholder="Social Security Number" class="form-control" k41-ssn-field
      ng-pattern="addEmplCtrl.patterns.ssn">
    </k41-form-input-group>

    <k41-form-input-group title="Gender" validate="addEmplCtrl.addEmplCtrl.submitted1">
        <select name="gender" ng-model="user.gender"
        ng-options="g.value as g.name for g in addEmplCtrl.enums.genders" class="form-control">
          <option value="">Select Gender</option>
        </select>
    </k41-form-input-group>

    <div class="form-group">
      <label class="col-md-3 control-label" ng-class="{required: initialSetup}">Address</label>
      <k41-form-input-group type="child" width="3" validate="addEmplCtrl.addEmplCtrl.submitted1"
      errors="[
        {addrStreet1: [{required: 'You must enter a street for your home address.'}]}
      ]">
        <input name="addrStreet1" ng-model="user.address.street_address_1" type="text" placeholder="Street" class="form-control"
        ng-required="initialSetup">
      </k41-form-input-group>

      <k41-form-input-group type="child" width="3">
        <input name="addrStreet2" ng-model="user.address.street_address_2" type="text" placeholder="Unit/Suite" class="form-control">
      </k41-form-input-group>
    </div>

    <div class="form-group">
      <div class="col-md-3"></div>
      <k41-form-input-group type="child" width="2" validate="addEmplCtrl.addEmplCtrl.submitted1"
      errors="[
        {city: [{required: 'You must enter a city for your home address.'}]}
      ]">
        <input name="city" ng-model="user.address.city" type="text" placeholder="City" class="form-control"
        ng-required="initialSetup">
      </k41-form-input-group>

      <k41-form-input-group type="child" width="2" validate="addEmplCtrl.addEmplCtrl.submitted1"
      errors="[
        {state: [{required: 'You must enter a state for your home address.'}]}
      ]">
        <select name="state" ng-model="user.address.state" class="form-control"
        ng-required="initialSetup" ng-options="s.value as s.name for s in addEmplCtrl.enums.states">
          <option value="">Select A State</option>
        </select>
      </k41-form-input-group>

      <k41-form-input-group type="child" width="2" validate="addEmplCtrl.addEmplCtrl.submitted1"
      errors="[{zip: [
        {required: 'You must enter a zip code for your home address.'},
        {pattern: 'You must enter a valid zip code.'}
      ]}]">
        <input name="zip" ng-model="user.address.zipcode" type="text" placeholder="Zip" class="form-control"
        ng-required="initialSetup" ng-pattern="addEmplCtrl.patterns.zipcode">
      </k41-form-input-group>
    </div>

  <k41-form-input-group title="Status *" validate="addEmplCtrl.addEmplCtrl.submitted1"
  errors="[{status: [{required: 'You must select a status.'}]}]">
      <select name="status" ng-model="computed.status"
      ng-options="s.value as s.name for s in addEmplCtrl.enums.hireStatuses" class="form-control" required>
        <option value="">Select Status</option>
      </select>
  </k41-form-input-group>

  <div class="form-group">
    <label class="col-md-3 control-label">Base Compensation *</label>
    <k41-form-input-group type="child" width="2" validate="addEmplCtrl.addEmplCtrl.submitted1"
    errors="[{compensation_type: [{required: 'You must select a type.'}]}]">
        <select name="compensation_type" ng-change="baseCompensationChanged()"
        ng-model="user.compensation_type" ng-options="c.value as c.name for c in addEmplCtrl.enums.compensationTypes"
        class="form-control" required>
          <option value="">Select Type</option>
        </select>
    </k41-form-input-group>

    <k41-form-input-group type="child" width="2" validate="addEmplCtrl.addEmplCtrl.submitted1"
    errors="[{compensationAmount: [
      {required: 'You must enter an amount.'},
      {pattern: 'You must enter a positive monetary value.'}
    ]}]">
      <input name="compensationAmount" ng-model="computed.compensationAmount" type="text"
      placeholder="{{computed.compensationAmountLabel}}" class="form-control"
      ng-disabled="!user.compensation_type || user.compensation_type === 'variable'" ng-required="!!user.compensation_type && user.compensation_type !== 'variable'"
      ng-pattern="addEmplCtrl.patterns.decimalPositive">
    </k41-form-input-group>

    <k41-form-input-group type="child" width="2" validate="addEmplCtrl.addEmplCtrl.submitted1"
    errors="[{compensationOvertime: [
      {required: 'You must enter a number.'},
      {valid: 'You must enter a positive number greater than or equal to 1.5 with no more than 2 decimal places.'}
    ]}]">
      <input name="compensationOvertime" ng-model="computed.compensationOvertime" type="text"
      placeholder="Overtime Multiplier" class="form-control"
      ng-disabled="user.compensation_type !== 'hourly'"
      ng-required="user.compensation_type === 'hourly'"
      k41-validate="[{name: 'valid', evaluator: multiplierIsValid}]">
    </k41-form-input-group>
  </div>

  <k41-inline-location></k41-inline-location>

  <div class="form-group">
    <div class="col-sm-2 col-sm-offset-3">* - required fields</div>
    <div class="col-sm-1">
      <button type="button" ng-click="addEmplCtrl.cancel()" class="btn btn-lg btn-brown" name="btnCancel"><i class="fa fa-times"></i> Cancel</button>
    </div>
    <div class="col-sm-3 text-right">
      <button ng-click="addEmplCtrl.next(form1)" class="btn btn-lg btn-success" ng-disabled="form1.$invalid" name="btnNext">
        <i class="fa fa-arrow-right"></i> Next
      </button>
    </div>
  </div>
</form>
