<form name="form2" novalidate class="form-horizontal">

  <k41-inline-title></k41-inline-title>

  <k41-form-input-group title="Work Email" validate="submitted2"
  errors="[{email: [{pattern: 'You must enter a valid email.'}]}]">
    <input name="email" ng-model="user.work_email" type="text" placeholder="example@address.com"
    class="form-control" ng-pattern="addEmplCtrl.patterns.email">
  </k41-form-input-group>

  <k41-form-input-group title="Work Phone" validate="submitted2"
  errors="[{phoneNumber: [{pattern: 'You must enter a valid phone number.'}]}]">
    <input name="phoneNumber" ng-model="user.work_phone" type="text" placeholder="Personal Phone"
    current-value="user.work_phone" k41-phone-number
    class="form-control" ng-pattern="addEmplCtrl.patterns.phone">
  </k41-form-input-group>

  <k41-form-input-group title="Start Date *" validate="submitted2"
  errors="[{startDate: [{required: 'You must enter a start date.'}]}]">
    <k41-date-time-picker name="startDate" ng-model="addEmplCtrl.computed.startDate" required></k41-date-time-picker>
  </k41-form-input-group>

  <k41-form-input-group title="Classification *" validate="submitted2"
  errors="[{classification: [{required: 'You must select a classification.'}]}]">
    <select name="classification" ng-model="user.classification"
    ng-options="c.value as c.name for c in addEmplCtrl.enums.jobClassifications" class="form-control" required>
      <option value="">Select Classification</option>
    </select>
  </k41-form-input-group>

  <div class="form-group">
    <div class="col-sm-2 col-sm-offset-3">* - required fields</div>
    <div class="col-sm-1">
      <button type="button" ng-click="addEmplCtrl.cancel()" class="btn btn-lg btn-brown" name="btnCancel"><i class="fa fa-times"></i> Cancel</button>
    </div>
    <div class="col-sm-3 text-right">
      <button type="button" ng-click="addEmplCtrl.back()" class="btn btn-lg btn-default" name="btnBackHr"><i class="fa fa-arrow-left"></i> Back</button>
      <button ng-click="addEmplCtrl.next(form2)" class="btn btn-lg btn-success" ng-disabled="form2.$invalid" name="btnNext">
        <i class="fa fa-arrow-right"></i> Next
      </button>
    </div>
  </div>
</form>
