<div class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-9">
      The following employee record has been added to the Staff, and documentation has been
      forwarded to the employee email address providing access and instructions on how to
      complete their on-boarding documentation and use their account.
    </div>
    <div class="col-sm-3 text-right">
      <button ng-click="addEmplCtrl.view()" name="btnViewFull" class="finish btn-lg btn btn-info">
        View All Users <i class="fa fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>

<div class="panel panel-grey">
  <div class="panel-heading"><h4>General</h4></div>
  <div class="panel-body">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="row">
          <label class="col-sm-4 control-label">First</label>
          <div class="col-sm-4 form-control-static">{{user.first_name}}</div>
        </div>
        <div class="row">
          <label class="col-sm-4 control-label">Last</label>
          <div class="col-sm-4 form-control-static">{{user.last_name}}</div>
        </div>
        <div ng-if="isFullEntry">
          <div class="row">
            <label class="col-sm-4 control-label">Date of Birth</label>
            <div class="col-sm-4 form-control-static">{{dateToString(computed.dateOfBirth, 'MM/dd/yyyy')}}</div>
          </div>
          <div class="row">
            <label class="col-sm-4 control-label">Social Security #</label>
            <div class="col-sm-4 form-control-static">{{user.ssn}}</div>
          </div>
          <div class="row">
            <label class="col-sm-4 control-label">Gender</label>
            <div class="col-sm-4 form-control-static">{{addEmplCtrl.enums.gendersByValue[user.gender].name}}</div>
          </div>
          <div class="row">
            <label class="col-sm-4 control-label">Personal Email</label>
            <div class="col-sm-4 form-control-static">{{user.email}}</div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 control-label">Personal Phone</label>
          <div class="col-sm-4 form-control-static">{{(user.phone_number | k41PhoneNumber)}}</div>
        </div>
        <div class="row">
          <label class="col-sm-4 control-label">Status</label>
          <div class="col-sm-4 form-control-static">{{user.new_hire ? 'New Hire' : 'Active'}}</div>
        </div>
        <div class="row">
          <label class="col-sm-4 control-label">Base Compensation Type</label>
          <div class="col-sm-4 form-control-static">{{addEmplCtrl.enums.compensationTypesByValue[user.compensation_type].name}}</div>
        </div>
        <div class="row" ng-if="user.compensation_type !== 'variable'">
          <label class="col-sm-4 control-label">{{computed.compensationAmountLabel}}</label>
          <div class="col-sm-4 form-control-static">{{computed.compensationAmount}}</div>
        </div>
        <div ng-show="computed.compensationType === 'hourly'" class="row">
          <label class="col-sm-4 control-label">Overtime Multiplier</label>
          <div class="col-sm-4 form-control-static">{{computed.compensationOvertime}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-grey">
  <div class="panel-heading"><h4>HR Data</h4></div>
  <div class="panel-body">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="row">
          <label class="col-sm-4 control-label">Work Email</label>
          <div class="col-sm-4 form-control-static">{{user.work_email}}</div>
        </div>
        <div class="row">
          <label class="col-sm-4 control-label">Work Phone</label>
          <div class="col-sm-4 form-control-static">{{user.work_phone | k41PhoneNumber}}</div>
        </div>
        <div class="row">
          <label class="col-sm-4 control-label">Start Date</label>
          <div class="col-sm-4 form-control-static">{{dateToString(addEmplCtrl.computed.startDate, 'MM/dd/yyyy')}}</div>
        </div>
        <div class="row">
          <label class="col-sm-4 control-label">Classification</label>
          <div class="col-sm-4 form-control-static">{{addEmplCtrl.enums.jobClassificationsByValue[user.classification].name}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
