<k41-breadcrumb></k41-breadcrumb>

<div class="container" ng-controller="AddEmployeeManualController as addEmplCtrl">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-grey">
        <div class="panel-heading">
          <h4>Add user</h4>
        </div>
        <div class="panel-body">
          <k41-wizard step="addEmplCtrl.step" total-steps="addEmplCtrl.totalSteps">
            <fieldset title="Step 1">
              <legend>General</legend>
              <ng-include src="'src/employee/add-employee-step-general.html'"></ng-include>
            </fieldset>
            <fieldset title="Step 2">
              <legend>HR Data</legend>
              <ng-include src="'src/employee/add-employee-step-hr.html'"></ng-include>
            </fieldset>
            <fieldset title="Step 3">
              <legend>Summary</legend>
              <ng-include src="'src/employee/add-employee-step-summary.html'"></ng-include>
            </fieldset>
          </k41-wizard>
        </div>
      </div><!--end panel-->
       <!-- add error handling directive -->
       <k41-server-error-display server-error="serverError"></k41-server-error-display>
    </div><!--end col-->
  </div><!--end row-->
</div> <!-- container -->
