<k41-breadcrumb hide-instructions="true"></k41-breadcrumb>


<div class="container" ng-controller="DashboardController as dbctrl">
  <div>

    <p>You can use the link in the menu to the left to swith to the regular user view.</p>
    <p>If you have any questions please use the link on the top right to get in touch. We look forward to talking to you!</p>

    <div>
      <a href="https://angularjs.org/" title="Angular" target="_blank"><img src="assets/img/AngularJS-large.png" alt="Angular" class="brand" />&nbsp;</a>
      &nbsp;&nbsp;<span class="glyphicon glyphicon-plus"> &nbsp;</span>
      <a href="http://getbootstrap.com/" title="Bootstrap 3" target="_blank"><img src="assets/img/bootstrap-logo.png" alt="Bootstrap" class="brand" /></a>
      &nbsp;&nbsp;<span class="glyphicon glyphicon-plus"> &nbsp;</span>
      <a href="https://www.google.com/design/spec/material-design/introduction.html" title="Material Design" target="_blank">
      <img src="assets/img/material-design-logo.png" alt="Material Design" class="brand" /></a>
    </div>
    <hr>
    <h4>Project Bones</h4>
    <p><a href="https://bitbucket.org/kode41/project-bones/src" target="_blank">Project Bones</a> is Kode41's vision of skeleton for any front end project that is based on Angular framework. You can see it as a scaffolding that helps you build a new Angular project from scratch. You can explore Project Bones and this demo <a href="https://bitbucket.org/kode41/project-bones" target="_blank">here</a>. Apart of general project setup <a href="https://bitbucket.org/kode41/project-bones" target="_blank">Project Bones</a> contains our view on best practices regarding:
      <ul>
        <li>
          controller usage
        </li>
        <li>
          adding new pages to the webapp
        </li>
        <li>
          generating nav bar component
        </li>
        <li>
          communicating with REST endpoints
        </li>
        <li>
          setting up unit and end-to-end tests
        </li>
      </ul>
    </p>

    <h4>This Demo</h4>
    <p>This demo is a simple demonstration how <a href="https://bitbucket.org/kode41/project-bones" target="_blank">Project Bones</a> can be used. The demo has a number of components:
    <ul>
      <li>nav bar on the left demonstrates how nav bar can be generated and how its functionality changes based on the context (admin user vs regular user)</li>
      <li>dashboard page demonstrates usage of a simple calendar component</li>
      <li>users pages demonstrate how user administration can be built using various components</li>
      <li>settings pages explain best practices regarding usage of various Angular concepts</li>
      <li>Bootstrap pages demonstrates how Twitter Bootstrap can be integrated into the Angular project</li>
      <li>Material Design pages demonstrate how various Google's Material Design components can be integrated in Angular project</li>
    </p>
    </div>
    <hr>
    <div class="row">
      <div id="calendar"></div>
    </div><!--row-->
  </div>
  <div class="col-md-12">
    <ui-view></ui-view>
  </div>
</div> <!-- container -->
