<div class="container" ng-controller="EmployeeHolidayController as holidayCtrl">
  <k41-breadcrumb></k41-breadcrumb>
  <div class="col-md-12 col-sm-12" title="Holidays">
      <div class="panel panel-grey">
        <div class="panel-heading">
          <h4>Holidays</h4>
        </div>
        <div class="panel-body">
          <div class="col-sm-12">
            <table class="table table-condensed table-striped table-hover float-vertical-aligned mb0">
              <thead>
                <tr>
                  <th class="float-vertical-align">
                    <div class="col-sm-2">Date</div>
                    <div class="col-sm-6">Name</div>
                    <div class="col-sm-4 text-right no-float-vertical-align">
                      <button type="button" class="btn btn-success btn-lg" ng-disabled="holidayCtrl.noHolidaysChanged()"
                        ng-click="holidayCtrl.save()" name="btnSave">
                        <i class="fa fa-check"></i> Save Changes
                      </button>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="h in holidayCtrl.companyHolidays | page:holidayCtrl.currentPage:holidayCtrl.pageSize">
                  <td>
                    <div class="col-sm-2">{{h.date.replace('-', '/')}}</div>
                    <div class="col-sm-6">{{h.name}}</div>
                    <div class="col-sm-4 text-right no-float-vertical-align">
                      <input icheck type="checkbox" ng-model="h.enabled" ng-change="h.changed = !h.changed">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination class="navbar-right" total-items="holidayCtrl.itemCount" items-per-page="holidayCtrl.itemsPerPage" ng-model="holidayCtrl.currentPage"></pagination>
          </div>
        </div><!--end panel body-->
      </div><!--end panel-->
    </div><!--end col-->
  <em-server-error-display title='Server Error' server-error='serverError'></em-server-error-display>
</div>
