<k41-breadcrumb></k41-breadcrumb>

<div class="container" ng-controller="SignatureController">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-grey">
        <div class="panel-heading ">
          <h4>Create A Signature</h4>
        </div>
        <div class="panel-body">
          <form name="form" novalidate class="form-horizontal">
            <div ng-if="!isEditing">
              <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">This is your current signature.</div>
              </div>
              <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                  <div class="signature-pad">
                    <img ng-src="{{user.signature_url}}" width="{{signature.image.width}}" height="{{signature.image.height}}" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3 text-right">
                  <button class="btn btn-lg btn-info" ng-click="edit()"><i class="fa fa-edit"></i> Edit</button>
                </div>
              </div>
            </div>
            <div ng-if="isEditing">
              <k41-loader-overlay message="'Uploading Signature ...'" in-progress="isUploading">
                <div class="form-group">
                  <div class="col-sm-6 col-sm-offset-3">Use your mouse to create a signature in the box below.</div>
                </div>
                <div class="form-group">
                  <div class="col-sm-3"></div>
                  <k41-form-input-group type="child" width="6" errors="[{data: [{required: 'You must draw a signature'}]}]">
                    <div class="signature-pad">
                      <k41-signature-pad name="data" ng-model="signature.data"
                      width="{{signature.image.width}}" height="{{signature.image.height}}" required></k41-signature-pad>
                    </div>
                  </k41-form-input-group>
                </div>
                <div class="form-group">
                  <div class="col-sm-6 col-sm-offset-3 text-right">
                    <button ng-if="!isNew" class="btn btn-lg btn-brown" ng-click="cancel(form)"><i class="fa fa-times"></i> Cancel</button>
                    <button class="btn btn-lg btn-danger" ng-click="reset(form)"><i class="fa fa-times"></i> Reset</button>
                    <button class="btn btn-lg btn-success" ng-click="save(form)" ng-disabled="!signature.data || form.$pristine" name="btnSave"><i class="fa fa-check"></i> Save</button>
                  </div>
                </div>
              </k41-loader-overlay>
            </div>
          </form>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div>
</div>
