<k41-breadcrumb hide-instructions="true"></k41-breadcrumb>


<div class="container" ng-controller="DashboardController as dbctrl">
  <div ng-if="!context.isEditing">
    <div ng-if="activeTiles.length > 0" class="dash-set-up" name="tilesDiv">
      <div class="row">
        <div class="col-md-12 col-sm-12" >
          <h4>Welcome!</h4>
          <em-instructional-text source="dashboard"></em-instructional-text>
        </div>
      </div><!--row-->
      <div class="row">&nbsp;</div>
      <div class="row">
        <h5>Active Tasks</h5>
        <em-instructional-text source="dashboard:active"></em-instructional-text>
      </div>
      <div class="row" >
        <div class="col-md-3 col-sm-6 mb10" ng-repeat="item in activeTiles">
          <a href="{{item.link}}" class="tile-link">
            <tile-dashboard type="primary" class="dashboard-tile" optional="item.optional" dismiss-function="dbctrl.dismissTask" dismiss-url="{{item.link}}">
              <div class="">
                <p class="text-center"><i class="{{item.icon}}"></i>{{item.title}}</p>
              </div>
            </tile-dashboard>
          </a>
        </div>
      </div><!--row-->
      <div class="row">
        <h5>Upcoming Tasks</h5>
        <em-instructional-text ng-if="upcomingTiles.length === 0" source="dashboard:nomoreupcoming"></em-instructional-text>
        <em-instructional-text ng-if="upcomingTiles.length > 0" source="dashboard:upcoming"></em-instructional-text>
      </div>
      <div class="row" >
        <div class="col-md-3 col-sm-6 mb10" ng-repeat="item in upcomingTiles">
          <tile-dashboard type="disabled" class="dashboard-tile">
            <div class="">
              <p class="text-center">{{item.title}}</p>
            </div>
          </tile-dashboard>
        </div>
      </div>
    </div>
    <div ng-if="activeTiles.length === 0" name="emptyTilesDiv">
      <div class="row" data-ng-if="dbctrl.isInAdminMode()"> <!-- Shortcut Tiles -->
        <div class="col-md-2" ng-repeat="sc in dbctrl.adminShortcuts | orderBy: 'slot'"> <!-- Start individual shortcut -->
          <a data-ng-click="dbctrl.handleShortcut(sc)" data-ng-attr-name="{{'shortcut-' + sc.name}}">
            <tile-dashboard type="primary" class="shortcut-tile">
              <div class="">
                <p class="text-center">{{sc.text}}</p>
              </div>
            </tile-dashboard>
          </a>
        </div> <!-- End individual shortcut -->
      </div> <!-- End Shortcut Tiles -->
      <div class="row mb10 mt10">
        <table class="table table-striped table-hover notifications mt20">
          <thead>
            <th class="col-sm-10">Notification</th>
            <th class="col-sm-2 text-right">Date</th>
          </thead>
          <tbody class="clickable">
            <!-- <tr ng-repeat="n in notifications track by n.id" ng-click="setViewed(n)" title="Mark seen"> -->
            <tr ng-repeat="n in dbctrl.notifications track by n.id" ng-click="handleClick(n)" ng-attr-title="Handle &amp; mark seen">
              <td ng-class="notificationStyle(n).class">
                <i ng-class="notificationStyle(n).iconClasses"></i>
                <span class="msg">{{n.description}}</span>
              </td>
              <td class="text-right">{{n.created_at | date:'yyyy/MM/dd'}}</td>
            </tr>
          </tbody>
          <tfoot >
            <tr ng-hide="dbctrl.notifications.length">
              <td colspan="2">
                <h4><em class="text-info">You have no notifications</em></h4>
              </td>
            </tr>
            <tr ng-hide="!dbctrl.notifications.length">
              <td colspan="2">
                <pagination class="navbar-right" total-items="dbctrl.itemCount" items-per-page="dbctrl.itemsPerPage"
                            ng-model="dbctrl.currentPage" ng-change="dbctrl.getNotificationsList()">
                </pagination>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="row">
          <div id="calendar"></div>
      </div><!--row-->
    </div>
  </div>
  <div class="col-md-12">
    <ui-view></ui-view>
  </div>
</div> <!-- container -->
