<k41-breadcrumb></k41-breadcrumb>

<div class="container" ng-controller="FormsController as fromCtrl">
  <div class="row">
    <div class="col-md-6" >
      <div class="panel panel-grey">
        <div class="panel-heading ">
          <h4>Form Fields</h4>
        </div>
        <div class="panel-body">
          <p>Type into field to try validations. After click on the "Save" button, you will receive form validation notification.</p>
          <p>All fields have required text messages.</p>
          <form name="form" novalidate class="form-horizontal row-border">

            <k41-form-input-group title="Text Field*" errors="[{textField: [{required: 'You must enter a field value.'}]}]">
              <input name="textField" type="text" class="form-control" ng-model="data.bank_name" required>
            </k41-form-input-group>

            <k41-form-input-group title="Select *" errors="[{selectField: [{required: 'You must select a value.'}]}]">
              <select class="form-control" name="selectField" ng-model="data.select" required>
                      <option value="">Select a Value</option>
                      <option value="1">First Value</option>
                      <option value="2">Second Value</option>
                    </select>
            </k41-form-input-group>

            <k41-form-input-group title="Date field *" errors="[{start_date: [{required: 'You must enter a date.'}]}]">
              <k41-date-time-picker name="start_date" id="startDate" ng-model="data.start_date" required>
              </k41-date-time-picker>
            </k41-form-input-group>

            <k41-form-input-group title="Obscured Field *" errors="[{
              accountNumber: [
                {required: 'You must enter an account number.'},
                {pattern: 'You must enter a valid bank account number. Array of nubmers with max length 17.'}
              ]
            }]">
              <input name="accountNumber" type="text" class="form-control" ng-model="data.account_number"
                     required ng-pattern="patterns.accountNumber" ng-model-options="{allowInvalid: true}" k41-obscure="'accountNumber'">
            </k41-form-input-group>

            <k41-form-input-group title="Pattern Filed *" errors="[{
              routingNumber: [
                {required: 'You must enter a value.'},
                {pattern: 'You must enter a valid field value. Please enter 9 numbers'}
              ]
            }]">
              <input name="routingNumber" type="text" class="form-control" ng-model="data.routing_number"
                     required ng-pattern="patterns.routingNumber">
            </k41-form-input-group>

            <div class="form-group">
              <div class="col-sm-2 col-sm-offset-3">* - required fields</div>
              <div class="col-sm-4">
                <div class="pull-right">
                  <button ng-click="fromCtrl.reset(form)" class="btn btn-lg btn-brown" ><i class="fa fa-times"></i> Reset</button>
                  <button ng-click="fromCtrl.save(form)" class="btn btn-lg btn-success" name="btnSave"><i class="fa fa-check"></i> Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
     <div class="col-md-6" ng-controller="InlineController as inlineCtrl">
      <div class="panel panel-grey">
        <div class="panel-heading ">
          <h4>Editable Fields</h4>
        </div>
        <div class="panel-body">
          <p>In line forms in table. If you want to edit row content click on any row field.</p>
          <p><b>Add Item</b> button will create a new row in the table.</p>
            <div class="row">
                <button ng-click="inlineCtrl.addItem()" name="addItem" class="btn btn-lg btn-info pull-right">
                  <i class="fa fa-plus"></i> Add Item
                </button>
            </div>
            <div></div>
            <table class="table table-condensed table-striped table-hover mb0">
                <thead>
                  <tr>
                    <th>
                      <div class="col-sm-4">Name</div>
                      <div class="col-sm-4">Description</div>
                      <div class="col-sm-4"></div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in inlineCtrl.items" role="button">
                    <td>
                      <form name="inlineform" novalidate>
                        <div ng-show="!item._edit" class="float-vertical-align form-group form-group-sm mb0" ng-click="inlineCtrl.editItem(item)">
                          <div class=" col-sm-4 clickable">
                             <a ng-click="inlineCtrl.editItem(item)">
                              {{item.name || 'None'}}
                            </a>
                          </div>
                          <div class="col-sm-4 clickable">
                             <a ng-click="inlineCtrl.editItem(item)">
                              {{item.description || 'None'}}
                            </a>
                          </div>
                        </div>
                        <div ng-show="item._edit" class="float-vertical-align form-group form-group-sm mb0">
                            <div class="col-sm-4">
                              <k41-form-input-group type="basic" validate="item._submitted"
                              errors="[{itemName: [{required: 'Must enter a name.'}]}]">
                                <input name="itemName" ng-model="item.edit.name" type="text" placeholder="Name" class="form-control" required>
                              </k41-form-input-group>
                            </div>
                            <div class="col-sm-4">
                              <k41-form-input-group type="basic" validate="item._submitted">
                                <input name="itemDescription" ng-model="item.edit.description" type="text" placeholder="Description" class="form-control">
                              </k41-form-input-group>
                            </div>
                            <div class="col-sm-4 text-right">
                              <button type="submit" name="btnSave" class="btn btn-success btn-sm"
                                      ng-click="inlineCtrl.saveItem(item, inlineform)">
                                <i class="fa fa-check"></i>
                              </button>
                              <button type="button" name="btnCancel" class="btn btn-danger btn-sm"
                                      ng-click="inlineCtrl.cancelItem(item, $index)">
                                <i class="fa fa-times"></i>
                              </button>
                            </div>
                        </div>
                      </form>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
    <div class="col-md-6 col-sm-12">
      <div class="panel panel-grey">
        <div class="panel-heading">
          <h4>Kode41 Clients</h4>
        </div>
        <div class="panel-body">
          <div class="col-sm-12">
            <p>Simple form and data display. Enter a client name and press <b>+</b> button.</p>
            <p>If you want to delete a client press the <b>-</b> button near the client name. </p>
            <form name="clientsForm" novalidate class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-3 control-label">Add client </label>
                  <k41-form-input-group type="child" width="6">
                    <input class="form-control" type="text" placeholder="Client name" ng-model="fromCtrl.client.name" required>
                 </k41-form-input-group>
                  <span class="input-group-btn">
                   <button name="btnAddClient" title="Add" type="button" class="btn btn btn-success" ng-click="fromCtrl.addClient()" ng-disabled="clientsForm.$invalid">
                     <i class="fa fa-plus"></i>
                   </button>
                    <button  name="btnClearClient" type="button" title="Clear text" class="btn btn-danger" ng-click="fromCtrl.clearClient()" ng-if="!clientsForm.$pristine">
                    <i class="fa fa-times"></i></button>
                  </span>
              </div>
              <div class="col-sm-offset-3">
                <span class="help-block" ng-show="clientError && clientsForm.$pristine">
                  {{clientError}}
                </span>
              </div>
              <div class="col-sm-6 col-sm-offset-3">
                <div class="form-group">
                  <table class="table table-condensed table-striped table-hover">
                    <tbody>
                      <tr ng-repeat="c in fromCtrl.clients | orderObjectBy:'name'">
                        <td>{{c.name}}</td>
                        <td class="text-right">
                          <button name="btnRemoveClient" type="button" title="Delete" class="btn btn-danger btn-sm" ng-click="fromCtrl.removeClient(c, $index)">
                            <i class="fa fa-minus"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </form>
          </div>
          <pagination id="clientPagination" class="navbar-right" ng-change="fromCtrl.getClientsList()" total-items="totalItems"
                                    items-per-page="itemsPerPage" ng-model="currentPage">
          </pagination>
        </div><!--end panel body-->
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
</div> <!-- container -->
