<div class="container" ng-controller="BootstrapGridController">
  <k41-breadcrumb></k41-breadcrumb>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <h2>
              Heading Left
            </h2>
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p ng-hide="showLeft">
              <a class="btn" ng-click="toggle('Left')">View details »</a>
            </p>
            <div ng-show="showLeft">
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              <p><a class="btn" ng-click="toggle('Left')">Hide details</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <h2>
              Heading Middle
            </h2>
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p ng-hide="showMiddle">
              <a class="btn" ng-click="toggle('Middle')">View details »</a>
            </p>
            <div ng-show="showMiddle">
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              <p><a class="btn" ng-click="toggle('Middle')">Hide details</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <h2>
              Heading Right
            </h2>
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p ng-hide="showRight">
              <a class="btn" ng-click="toggle('Right')">View details »</a>
            </p>
            <div ng-show="showRight">
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              <p><a class="btn" ng-click="toggle('Right')">Hide details</a></p>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <h5>Description List </h5>
            <dl class="dl-horizontal">
              <dt>
                Description lists
              </dt>
              <dd>
                A description list is perfect for defining terms.
              </dd>
              <dt>
                Euismod
              </dt>
              <dd>
                Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
              </dd>
              <dd>
                Donec id elit non mi porta gravida at eget metus.
              </dd>
              <dt>
                Malesuada porta
              </dt>
              <dd>
                Etiam porta sem malesuada magna mollis euismod.
              </dd>
              <dt>
                Felis euismod semper eget lacinia
              </dt>
              <dd>
                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
              </dd>
            </dl>
          </div>
          <div class="col-md-2">
            <h5>Responsive Image</h5>
            <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
          </div>
          <div class="col-md-5">
            <h5>Inline form</h5>
            <form role="form" class="form-inline">
              <div class="form-group">

                <label for="exampleInputEmail1">
                  Email address
                </label>
                <input type="email" class="form-control" id="exampleInputEmail1" />
              </div>
              <div class="form-group">

                <label for="exampleInputPassword1">
                  Password
                </label>
                <input type="password" class="form-control" id="exampleInputPassword1" />
              </div>
              <div class="form-group">

                <label for="exampleInputFile">
                  File input
                </label>
                <input type="file" id="exampleInputFile" />
                <p class="help-block">
                  Example block-level help text here.
                </p>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" /> Check me out
                </label>
              </div>
              <button type="submit" class="btn btn-default">
                Submit
              </button>
            </form>
          </div>
          <div class="col-md-2">
            <h5> Unordered list</h5>
            <ul>
              <li>
                Lorem ipsum dolor sit amet
              </li>
              <li>
                Consectetur adipiscing elit
              </li>
              <li>
                Integer molestie lorem at massa
              </li>
              <li>
                Facilisis in pretium nisl aliquet
              </li>
              <li>
                Nulla volutpat aliquam velit
              </li>
              <li>
                Faucibus porta lacus fringilla vel
              </li>
              <li>
                Aenean sit amet erat nunc
              </li>
              <li>
                Eget porttitor lorem
              </li>
            </ul>
          </div>
        </div>
      </div>
      <blockquote>
        <p>
          Grid layout is fully responsive.
        </p> <small>Works well on <cite>All Devices</cite></small>
      </blockquote>
    </div>
  </div>
</div>
