<div id="main" ng-controller="MainController"
     ng-class="{
       'static-header': !style_fixedHeader,
       'focusedform': style_fullscreen,
       'layout-horizontal': style_layoutHorizontal,
       'fixed-layout': style_layoutBoxed,
       'collapse-leftbar': style_leftbarCollapsed && !style_leftbarShown,
       'show-rightbar': style_rightbarCollapsed,
       'show-leftbar': style_leftbarShown,
       'fullpage': style_fullpage
     }"
     ng-click="hideSearchBar(); hideHeaderBar();"
     ng-cloak>

  <header id="employii-header" class="navbar navbar-inverse"
          ng-class="style_fixedHeader ? 'navbar-fixed-top' : 'navbar-static-top'" role="banner">

    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="http://kode41.com/" target="_blank" style="background: url('assets/img/logo.png') no-repeat center center;background-size: contain;"
        >Kode41</a>
    </div>

    <ul class="nav navbar-nav pull-right toolbar">
      <li class="dropdown" ng-hide="userInfo.isLoggedIn">
        <a ui-sref="login" style="font-size: 14px"><i class="fa fa-sign-in"></i> Log in</a>
      </li>
      <li ng-show="userInfo.isLoggedIn">
        <a href ng-click="logOut()" title="Logout"><i class="fa fa-fw fa-power-off"></i></a>
      </li>
      <li class="dropdown" ng-show="userInfo.isLoggedIn">
        <a class="dropdown-toggle" ng-disabled="!userInfo.isAdmin" data-toggle="dropdown">
          <i class="fa fa-user" ng-if="!userInfo.avatar_url"></i>
            <img ng-src="{{userInfo.avatar_url}}" width="45" height="45" ng-if="userInfo.avatar_url" class="pull-left"/>&nbsp;&nbsp;
         {{userInfo | k41Fullname}}</a>
        <ul class="dropdown-menu userinfo arrow">
          <li class="userlinks">
            <ul class="dropdown-menu">
              <li>Settings <i class="pull-right fa fa-fw fa-gears"></i></li>
              <li class="divider"></li>
              <li>Users <i class="pull-right fa fa-fw fa-money"></i></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="dropdown" ng-show="userInfo.isLoggedIn">
        <a title="Contact Project Bones" href="mailto:projectbones@kode41.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact Project Bones</a>
      </li>
    </ul>
  </header>

  <div id="page-container" class="clearfix">
    <!-- BEGIN SIDEBAR -->
    <k41-left-nav></k41-left-nav>

    <!-- BEGIN PAGE CONTENT-->
    <div ng-if="!supportedBrowser" class="alert-danger unsupported-browser">
      We currently only support <span class="browser-name">{{browserName}}</span>
      version <span class="browser-version">{{browserMinVersion}}</span> and higher.
      Please download an updated version<span ng-if="browserDownloadLink">&nbsp;from
        <a ng-href="{{browserDownloadLink}}">here</a>
      </span>.
    </div>

    <div id="page-content" style="margin-left: 193px" fit-height>
      <div id="wrap" ui-view class="mainview-animation">
        <!--App Content Loaded here-->
      </div> <!--wrap -->
    </div> <!-- page-content -->

    <footer role="contentinfo">
      <div class="clearfix">

        <ul class="list-unstyled list-inline">
          <li class="text-center pull-left">
              <span>
                <a href="mailto:info@kode41.com">
                    <i class="fa fa-envelope fa-fw"></i>&nbsp; info@kode41.com
                </a>
                &nbsp;&nbsp;
                <i class="fa fa-phone fa-fw"></i>&nbsp;
                1 (404) 825 0760
                &nbsp;&nbsp;
                <i class="fa fa-map-marker fa-fw"></i>&nbsp;
                64 Arlington Place, Buffalo, NY 14201
            </span>
          </li>
          <li class="col-sm-offset-4 text-right">© {{currentYear}} <a href="http://kode41.com/" target="_blank">kode41.com</a> All Rights Reserved.</li>
        </ul>
        <button class="pull-right btn btn-default btn-xs hidden-print" back-to-top style="padding: 1px 10px;">
          <i class="fa fa-angle-up"></i>
        </button>
      </div>
    </footer>
  </div> <!-- page-container -->
</div>
