<div class="container">
  <div ng-controller="MaterialElementsCtrl  as ctrl" ng-cloak>
  <k41-breadcrumb title="{{heading}}"></k41-breadcrumb>

  <div class="row col-sm-12">
    <div class="col-sm-6" layout="column">
      <h1>Sliders</h1>
      <md-content layout="row" layout-padding>
        <md-slider-container flex>
          <md-input-container>
            <input flex type="number" ng-model="vol" aria-label="volume" aria-controls="volume-slider">
          </md-input-container>
          <md-slider ng-model="vol" min="0" max="100" aria-label="volume" id="volume-slider" class="md-accent" md-vertical
                     md-range></md-slider>
          </md-slider>
          <h5>Volume</h5>
        </md-slider-container>
        <md-slider-container flex>
          <md-input-container>
            <input flex type="number" ng-model="bass" aria-label="bass" aria-controls="bass-slider">
          </md-input-container>
          <md-slider md-discrete ng-model="bass" min="0" max="100" step="10" aria-label="bass" class="md-primary"
                     md-vertical></md-slider>
          </md-slider>
          <h5>Bass</h5>
        </md-slider-container>
        <div flex layout="column" layout-align="center center">
          <md-slider-container ng-disabled="ctrl.readonly">
            <md-input-container>
              <input flex type="number" ng-model="master" aria-label="master" aria-controls="master-slider">
            </md-input-container>
            <md-slider flex ng-model="master" md-discrete aria-label="Master" md-vertical step="10"
                       ng-readonly="ctrl.readonly"></md-slider>
            <h5>Master</h5>
          </md-slider-container>
          <md-checkbox ng-model="ctrl.readonly">Read only</md-checkbox>
        </div>
      </md-content>
    </div>
    <div class="col-sm-6" layout="column">
      <div layout="column" ng-cloak>
        <h1>Autocomplete</h1>
        <p>Fast search with autocomplete.</p>
        <md-content layout-padding layout="column">
          <form ng-submit="$event.preventDefault()">
            <md-autocomplete
                ng-disabled="ctrl.isDisabled"
                md-no-cache="ctrl.noCache"
                md-selected-item="ctrl.selectedItem"
                md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                md-search-text="ctrl.searchText"
                md-selected-item-change="ctrl.selectedItemChange(item)"
                md-items="item in ctrl.querySearch(ctrl.searchText)"
                md-item-text="item.name"
                md-min-length="0"
                placeholder="Pick an Angular repository"
                md-menu-class="autocomplete-custom-template">
              <md-item-template>
                <span class="item-title">
                  <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
                  <span> {{item.name}} </span>
                </span>
                <span class="item-metadata">
                  <span class="item-metastat">
                    <strong>{{item.watchers}}</strong> watchers
                  </span>
                  <span class="item-metastat">
                    <strong>{{item.forks}}</strong> forks
                  </span>
                </span>
              </md-item-template>
            </md-autocomplete>
          </form>
        </md-content>
      </div>
    </div>
    </div>
    <div class="row col-sm-12">
      <div class="sample col-sm-6" layout="column">
        <h1>Tabs</h1>
        <p>Dynamically add or delete material design tabs.</p>
        <md-content class="md-padding">
          <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
            <md-tab ng-repeat="tab in tabs"
                    ng-disabled="tab.disabled"
                    label="{{tab.title}}">
              <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
                <div ng-bind="tab.content"></div>
                <br/>
                <md-button class="md-primary md-raised" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">Remove Tab</md-button>
              </div>
            </md-tab>
          </md-tabs>
        </md-content>
        <form ng-submit="addTab(tTitle,tContent)" layout="column" class="md-padding" style="padding-top: 0;">
          <div layout="row" layout-sm="column">
            <div flex style="position: relative;">
              <h2 class="md-subhead" style="position: absolute; bottom: 0; left: 0; margin: 0; font-weight: 500; text-transform: uppercase; line-height: 35px; white-space: nowrap;">Add a new Tab:</h2>
            </div>
            <md-input-container>
              <label for="label">Label</label>
              <input type="text" id="label" ng-model="tTitle">
            </md-input-container>
            <md-input-container>
              <label for="content">Content</label>
              <input type="text" id="content" ng-model="tContent">
            </md-input-container>
            <md-button class="add-tab md-primary md-raised" ng-disabled="!tTitle || !tContent" type="submit" style="margin-right: 0;">Add Tab</md-button>
          </div>
        </form>
      </div>
      <div class="inset col-sm-6" layout="column" ng-cloak>
        <h1>Switch</h1>
        <p>Colored switch buttons with modern animations.</p>
        <md-switch ng-model="data.cb1" aria-label="Switch 1">
          Switch 1: {{ data.cb1 }}
        </md-switch>
        <md-switch ng-model="data.cb2" aria-label="Switch 2" ng-true-value="'yup'" ng-false-value="'nope'" class="md-warn">
          Switch 2 (md-warn): {{ data.cb2 }}
        </md-switch>
        <md-switch ng-disabled="true" aria-label="Disabled switch" ng-model="disabledModel">
          Switch (Disabled)
        </md-switch>
        <md-switch ng-disabled="true" aria-label="Disabled active switch" ng-model="data.cb4">
          Switch (Disabled, Active)
        </md-switch>
        <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5">
          Switch (md-primary): No Ink
        </md-switch>
        <md-switch ng-model="data.cb6" aria-label="Switch 6" ng-change="onChange(data.cb6)">
          Switch 6 message: {{ message }}
        </md-switch>
      </div>
    </div>
  </div>
</div>
