
<style type="text/css">
  .gridListdemoBasicUsage md-grid-list {
  margin: 8px; }
.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }
.gridListdemoBasicUsage .green {
  background: #b9f6ca; }
.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }
.gridListdemoBasicUsage .blue {
  background: #84ffff; }
.gridListdemoBasicUsage .purple {
  background: #b388ff; }
.gridListdemoBasicUsage .red {
  background: #ff8a80; }
.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }
</style>
<div layout="column" ng-cloak ng-controller="ThemeDemoCtrl as appCtrl">
  <k41-breadcrumb title="{{title}}"></k41-breadcrumb>
  <div class="col-sm-12 md-padding">
    <!-- Theme Options -->
    <div class="col-sm-6">
    <h4>
      Select a color from the <a class="md-accent" href="{{mdURL}}">Theme Color Palettes</a>
      below:
    </h4>
      <div layout="row" layout-wrap layout-align="center center">
        <md-button ng-repeat="color in colors" flex-gt-md="15" flex="30"
                   md-colors="{background: '{{color}}'}" md-colors-watch="false"
                   ng-disabled="primary === color && !isPrimary" ng-click="selectTheme(color)">
          {{color}}
        </md-button>
      </div>
      <!-- Footnote -->
      <p style="padding-top: 20px;">
        Shown below are the colors of the custom <code>&lt;theme-preview&gt;</code> component that
        were updated by <code>&lt;md-colors&gt;</code>
      </p>
      <!-- Theme Preview -->
      <div layout="row" class="section" layout-align="center center">
        <div layout="column" flex="50">
          <theme-preview primary="primary" accent="accent"></theme-preview>
        </div>
      </div>
      <!-- Footnote -->
      <p class="footnote">
        Notice that the foreground colors are automatically determined (from the theme configurations)
        based on the specified background palette selection. Of course, you could easily override the
        foreground color also...
      </p>
    </div>
    <div class="col-sm-6">
      <h4> Responsive Grid Layout</h4>
      <md-content layout-padding>
      <md-grid-list
          md-cols-gt-md="12" md-cols="3" md-cols-md="8"
          md-row-height-gt-md="1:1" md-row-height="4:3"
          md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
        <md-grid-tile
            ng-repeat="tile in appCtrl.colorTiles"
            ng-style="{
              'background': tile.color
            }"
            md-colspan-gt-sm="{{tile.colspan}}"
            md-rowspan-gt-sm="{{tile.rowspan}}">
        </md-grid-tile>
      </md-grid-list>
    </md-content>
    </div>
  </div>
</div>
