
<div class="container">
  <div ng-controller="MaterialCtrl" layout="column" ng-cloak class="md-inline-form">
    <k41-breadcrumb title="{{title}}"></k41-breadcrumb>
    <div class="col-sm-12">
      <div class="col-sm-6">
        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
          <div>
            <md-input-container>
              <label>Title</label>
              <input ng-model="user.title">
            </md-input-container>
            <md-input-container>
              <label>Email</label>
              <input ng-model="user.email" type="email">
            </md-input-container>
          </div>
        </md-content>
        <md-content layout-padding>
          <div>
            <form name="userForm">
              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                  <label>Company (Disabled)</label>
                  <input ng-model="user.company" disabled>
                </md-input-container>
                <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date">
                </md-datepicker>
              </div>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>First name</label>
                  <input ng-model="user.firstName">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Long Last Name That Will Be Truncated And 3 Dots (Ellipsis) Will Appear At The End</label>
                  <input ng-model="theMax">
                </md-input-container>
              </div>
              <md-input-container class="md-block">
                <label>Address</label>
                <input ng-model="user.address">
              </md-input-container>
              <md-input-container md-no-float class="md-block">
                <input ng-model="user.address2" placeholder="Address 2">
              </md-input-container>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>City</label>
                  <input ng-model="user.city">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>State</label>
                  <md-select ng-model="user.state">
                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                      {{state.abbrev}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Postal Code</label>
                  <input name="postalCode" ng-model="user.postalCode" placeholder="12345"
                        required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                  <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                    <div ng-message="required" class="my-message">You must supply a postal code.</div>
                    <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                      code.
                    </div>
                    <div ng-message="md-maxlength" class="my-message">
                      Don't use the long version silly...we don't need to be that specific...
                    </div>
                  </div>
                </md-input-container>
              </div>
              <md-input-container class="md-block">
                <label>Biography</label>
                <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
              </md-input-container>
            </form>
          </div>
        </md-content>
      </div>
      <div class="col-sm-6">
         <md-content layout-padding>
         <h4>Custom messages</h4>
         <hr>
         <p>The Material Design gives you the flexibility to display your messages using many standard angular directives.
For instance, toggle the switch to the right to see the messages switch between some custom hints, and the actual error messages. </p>
          <form name="userForm">
              <md-input-container>
                <md-switch ng-model="showHints">Showing {{showHints ? "Hints" : "Errors"}}</md-switch>
              </md-input-container>
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input md-maxlength="30" required name="name" ng-model="user.name" />
                <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
                <div ng-messages="userForm.name.$error" ng-if="!showHints">
                  <div ng-message="required">Name is required.</div>
                  <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                </div>
              </md-input-container>
              <div flex="5" hide-xs hide-sm>
                <!-- Spacer //-->
              </div>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Social Security Number</label>
                <input name="social" ng-model="user.social" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" />
                <div class="hint" ng-if="showHints">###-##-####</div>
                <div ng-messages="userForm.social.$error" ng-if="!showHints">
                  <div ng-message="pattern">###-##-#### - Please enter a valid SSN.</div>
                </div>
              </md-input-container>
            </div>
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Email</label>
                <input name="email" ng-model="user.email"
                       required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                <div class="hint" ng-show="showHints">How can we reach you?</div>
                <div ng-messages="userForm.email.$error" ng-hide="showHints">
                  <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                    Your email must be between 10 and 100 characters long and look like an e-mail address.
                  </div>
                </div>
              </md-input-container>
              <div flex="5" hide-xs hide-sm>
                <!-- Spacer //-->
              </div>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Phone Number</label>
                <input name="phone" ng-model="user.phone" ng-pattern="/^([0-9]{3}) [0-9]{3}-[0-9]{4}$/" />
                <div class="hint" ng-show="showHints">(###) ###-####</div>
                <div ng-messages="userForm.phone.$error" ng-hide="showHints">
                  <div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
                </div>
              </md-input-container>
              <style>
                /*
                 * The Material demos system does not currently allow targeting the body element, so this
                 * must go here in the HTML.
                 */
                body[dir=rtl] .hint {
                  right: 2px;
                  left: auto;
                }
              </style>
            </div>
          </form>
        </md-content>
         <h4>Checkbox</h4>
          <hr>
        <div layout="row">
          <div flex-xs flex="50">
            <md-checkbox aria-label="Select All"
                         ng-checked="isChecked()"
                         md-indeterminate="isIndeterminate()"
                         ng-click="toggleAll()">
              <span ng-if="isChecked()"></span>All
            </md-checkbox>
          </div>
          <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items">
            <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
             {{ item }}
            </md-checkbox>
          </div>
        </div>
        <h4>Radio buttons</h4>
        <hr>
        <div layout="row">
          <p>Selected Value: <b class="radioValue">{{ data.group1 }}</b> </p>
          <md-radio-group ng-model="data.group1">
            <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
            <md-radio-button value="Banana"> Banana </md-radio-button>
            <md-radio-button value="Mango">Mango</md-radio-button>
          </md-radio-group>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
