<div ng-show="serverError" class="panel panel-danger">
  <div class="panel-heading">
    <h4><span class="glyphicon glyphicon-exclamation-sign"></span> {{ title || 'Server Error' }}</h4>
  </div>
  <div class="panel-body text-danger" ng-transclude>
  </div>
</div>
