<div ng-show="errors" class="panel panel-danger">
  <div class="panel-heading">
    <h4><span class="glyphicon glyphicon-exclamation-sign"></span> {{ errorTitle || 'Data Error' }}</h4>
  </div>
  <div class="panel-body text-danger">
    <h5>Error Messages</h5>
    <ol>
      <li ng-repeat="error in errors track by $index">{{ error }}</li>
    </ol>
  </div>
</div>
<div ng-show="warnings" class="panel panel-orange">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-exclamation-sign"></span> {{ warningTitle || 'Data Warning' }}
  </div>
  <div class="panel-body text-orange">
    <h5>Warning Messages</h5>
    <ol>
      <li ng-repeat="warning in warnings track by $index">{{ warning }}</li>
    </ol>
  </div>
</div>
