<div id="page-heading">

  <div class="row m0">
    <div class="col-md-12 p0">
      <ol ng-if="items.length > 1" class="breadcrumb">
        <li ng-class="{active: isActive(i)}" ng-repeat="i in items">
          <a ng-if="!isActive(i)" ui-sref="{{i.name}}">{{i.title}}</a>
          <span ng-if="isActive(i)">{{isCurrent(i) ? title || i.title : i.title}}</span>
        </li>
      </ol>
      <div>
        <h1>{{heading || title || current().title}}</h1>
      </div>
    </div>
  </div>

  <div class="row m0">
    <div class="col-md-6 p0">
      <k41-instructional-text ng-if="!hideInstructions"></k41-instructional-text>
    </div>
  </div>

</div>
