<span>
  <div class="input-group">
    <input ng-model="data.date" type="text" class="form-control datepicker"
    datepicker-popup="{{ emDatePattern }}" datepicker-options="dateOptions"
    show-button-bar="dateOptions.showButtonBar"
    datepicker-append-to-body="dateOptions.appendToBody"
    date-disabled="dateDisabled(date, mode)" is-open="opened"
    close-text="Close" ng-focus="picker($event, true)"
    ng-required="ngRequired" ng-disabled="ngDisabled"/>
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="togglePicker($event)" ng-disabled="ngDisabled">
        <i class="fa fa-calendar"></i>
      </button>
    </div>
  </div>
  <div ng-if="dateOptions.time" class="input-group pull-right">
    <k41-timepicker ng-model="data.date" ng-required="ngRequired" show-seconds="dateOptions.showSeconds"ng-disabled="ngDisabled" ng-changed="ngChanged"></k41-timepicker>

  </div>
</span>
