<div class="form-group col-md-{{width}} col-print-{{width}}" ng-class="{'has-error': hasAnyErrors()}">
  <label ng-show="!!title" class="control-label">{{title}}</label>
  <div ng-transclude></div>
  <span ng-repeat="v in validations" class="help-block" ng-show="hasError(v)" ng-bind-html="v.message"></span>
</div>