<div class="instructional-text">
  <p ng-repeat="instruction in instructionalArray">
    <span ng-if="instruction.lineHeading">
      <b>&nbsp;&nbsp;{{instruction.lineHeading}}</b>
    </span><span ng-bind-html="instruction.text"></span>
  </p>
</div>
