<div id="employii-leftbar-outer" ng-if="!signingUp()">
  <nav id="employii-leftbar" role="navigation">
    <div class="btn-group-vertical em-menugrp" role="group" aria-label="Navigation">
      <div class="btn-group" role="group" ng-if="isAdmin">
        <button ng-click="switchMode()" class="btn btn-link btn-primary" name="dashboardSwitch">
          <span>Switch to {{ adminMode ? 'User' : 'Admin' }} View</span>
        </button>
      </div>
      <div class="btn-group em-navmenu-div" ng-attr-id="{{'navmenu-' + item.state}}" role="group" ng-repeat="item in menu | filter:{enabled: true}" auto-close="disabled"
      ng-class="{open: item.selected, active: item.selected, emDisabled: item.disabled}">
        <button type="button" ng-if="item.children===undefined && userSatisfiesNavCondition(item.navCond)" class="btn btn-sidebar" ui-sref="{{item.state}}" ng-class="{active: item.selected, emDisabled: item.disabled}" ng-click="toggleClicked(item)" ng-disabled="item.disabled" ng-attr-name="{{item.state}}">
          <i class="em-menuicon {{item.iconClasses}}" aria-label="{{item.label}}" title="{{item.label}}"></i>&nbsp;&nbsp;
        </button>
        <button type="button" class="btn btn-sidebar dropdown-toggle" dropdown-toggle ng-click="toggleClicked(item)" ng-if="item.children !== undefined && userSatisfiesNavCondition(item.navCond)" ng-class="{active: item.selected, emDisabled: item.disabled}" ng-disabled="item.disabled" ng-attr-name="{{item.state}}">
          <i class="em-menuicon {{item.iconClasses}}" aria-label="{{item.label}}" title="{{item.label}}"></i>&nbsp;<span class="caret"></span>
        </button>
        <ul ng-if="item.children.length && item.enabled && userSatisfiesNavCondition(item.navCond)" class="dropdown-menu em-menudropdown" role="menu">
          <li ng-repeat="item in item.children | filter:{enabled: true}" ng-if="userSatisfiesNavCondition(item.navCond)" ng-class="{active: item.selected}">
            <a ui-sref="{{item.state}}" ng-if="!item.disabled" ng-attr-name="{{item.state}}">
              <span>{{item.label}}</span>
            </a>
            <span ng-if="item.disabled" ng-class="{emDisabled: item.disabled}">{{item.label}}</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
