<div ng-transclude></div>
<div ng-show="inProgress" class="transparent-overlay" ng-style="{'background-color': bgColor}">
  <div class="loader-container">
    <div class="loader-image">
	    <em-loader class="center-block"></em-loader>
      <div class="loader-message" ng-if="message">{{message}}</div>
    </div>
  </div>
</div>
