<div ng-show="errors.length > 0" class="alert alert-danger" role="alert">
  <div ng-repeat="error in errors">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    {{error}}
  </div>
</div>
