<div>
<ul class="stepy-header">
  <li ng-repeat="step in steps" ng-class="{'stepy-active': step.active}">
    <div>{{step.title}}</div>
    <span>{{step.legend}}</span>
  </li>
</ul>
<div ng-transclude></div>
</div>
