<div class="modal-header">
  <span class="text-bold">Edit User</span>
  <button type="button" class="bootbox-close-button close" ng-click="cancel()" aria-hidden="true">×</button>
</div>
<div class="modal-body">
  <div>
    <form name="form" novalidate class="form-horizontal row-border">
    <k41-form-input-group title="First Name*" errors="[{textField: [{required: 'You must enter a first name.'}]}]">
              <input name="textField" type="text" class="form-control" ng-model="user.first_name" required>
    </k41-form-input-group>
    <k41-form-input-group title="Last Name*" errors="[{textField: [{required: 'You must enter a last name.'}]}]">
      <input name="textField" type="text" class="form-control" ng-model="user.last_name" required>
    </k41-form-input-group>
    <k41-form-input-group title="Email Address *" validate="addEmplCtrl.addEmplCtrl.addEmplCtrl.submitted1" errors="[{
      email: [
        {required: 'You must enter an email.'},
        {pattern: 'You must enter a valid email.'}
      ]}]">
      <input name="email" ng-model="user.email" type="text" placeholder="example@address.com"
      class="form-control" required ng-pattern="addEmplCtrl.patterns.email">
    </k41-form-input-group>
    <k41-form-input-group title="Personal Phone *"
    errors="[{phoneNumber: [{pattern: 'You must enter a valid phone number.'},
                            {required: 'You must enter a personal phone number.'}]}]">
      <input name="phoneNumber" ng-model="user.phone_number" type="text" placeholder="Personal Phone"
       current-value="user.phone_number" k41-phone-number required
      class="form-control" ng-pattern="patterns.phone">
    </k41-form-input-group>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="save(form, target_account)" ng-disabled="rowform.$waiting"
    name="btnSaveTarget" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
  <button type="button" ng-disabled="rowform.$waiting" name="btnCancelTarget"
    ng-click="cancel()" class="btn btn-danger"><i class="fa fa-times"></i> Cancel</button>
</div>
