<div ng-controller="AllEmployeesController">
  <k41-breadcrumb></k41-breadcrumb>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-grey">
          <div class="panel-heading ">
            <h4>{{state.data.title}}</h4>
          </div>
          <div class="panel-body">
            <p>Easy user search.</p>
            <div class="col-sm-12 mb20">
              <div class="col-sm-6">
                <div class="input-group pull-left">
                  <div class="input-group-addon">
                    <i class="fa fa-fw" ng-class="loading ? 'fa-refresh fa-spin' : 'fa-search'"></i>
                  </div>
                  <input type="text" class="form-control" ng-model="search">
                </div>
              </div>
              <div class="col-sm-6">
                <a ui-sref="addEmployee" class="btn btn-lg btn-success pull-right">
                  Add New User  <i class="fa fa-arrow-right"></i>
                </a>
              </div>
            </div>
            <div class="col-sm-12">
              <table class="table table-condensed table-striped table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="e in users | filter:search">
                    <td class="clickable" ng-click="seeDetails(e)">{{e | k41Fullname}}</td>
                    <td class="clickable" ng-click="seeDetails(e)">{{e.email}}</td>
                    <td class="clickable" ng-click="seeDetails(e)">{{e.phone_number}}</td>
                    <td>
                      <a ng-click="removeUser(e, $index)"
                         class="btn btn-danger btn-sm" ng-disabled="isSelf(e.id)">
                        <i class="fa fa-minus"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4">
                      <pagination class="navbar-right" total-items="itemCount" items-per-page="itemsPerPage"
                                  ng-model="currentPage" ng-change="getList()">
                      </pagination>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>

          </div>
        </div><!--end panel-->
      </div><!--end col-->
    </div><!--end row-->
  </div> <!-- container -->
</div>
