<div ng-hide="sent">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
      <span aria-hidden="true">×</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Reset Password</h4>
  </div>
  <div class="modal-body">
      <p>To reset your password, enter your username and email.<br />You will receive a reset link via email.</p>
      <form name="$parent.resetForm" novalidate class="form-horizontal row-border">

        <k41-form-input-group title="Username *" form="$parent.resetForm"
        errors="[{username: [{required: 'You must enter a user name.'}]}]">
          <input name="username" type="text" class="form-control" ng-model="data.username" ng-change="hideError()" required>
        </k41-form-input-group>

        <k41-form-input-group title="Email *" form="$parent.resetForm" errors="[{
          email: [
            {required: 'You must enter an email.'},
            {pattern: 'You must enter a valid email.'}
          ]
        }]">
          <input name="email" type="text" class="form-control" ng-model="data.email" ng-change="hideError()" required ng-pattern="patterns.email">
        </k41-form-input-group>

        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-3">* - required fields</div>
        </div>

        <div ng-show="error" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
            The username and/or email address is invalid.
        </div>

      </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-lg btn-primary" ng-click="send()">Send</button>
  </div>
</div>

<div ng-show="sent">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
      <span aria-hidden="true">×</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Reset Password Email Sent</h4>
  </div>
  <div class="modal-body">
    <p>An email has been sent to your email address.
    Follow the link in the email to finish reseting your password.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-primary" ng-click="cancel()">Close</button>
  </div>
</div>
