<div class="verticalcenter" ng-controller="ResetPasswordController">
	<a href="#/"><img src="assets/img/kode41.png" alt="Logo" class="brand" /></a>
  <k41-loader-overlay message="'Loading password reset data ...'" in-progress="loading">  
  <div class="panel panel-primary" ng-if="(!serverError || serverError.length <= 0) && !dataErrors && !dataWarnings && loaded">
		<div class="panel-body">
			<h4 class="text-center" style="margin-bottom: 25px;">Set New Password</h4>
      <form name="form" role="form" novalidate class="form" style="margin-bottom: 0px !important;">

        <div class="form-group" ng-class="{'has-error': submitted &&
        (form.password.$error.required || form.password.$error.pattern)}">
          <label>New Password *</label>
          <input type="password" name="password" class="form-control" ng-model="data.password"
          required ng-pattern="patterns.password">
          <span class="help-block" ng-show="(form.$dirty || submitted) && form.password.$error.required">You must enter a new password</span>
          <span class="help-block" ng-show="(form.$dirty || submitted) && form.password.$error.pattern">
            Your password must contain at least:<br/>1 upper case letter<br/>1 lower case letter<br/>1 number or special character<br/>
            It must be at least 8 characters in length.</span>
        </div>

        <div class="form-group" ng-class="{'has-error': submitted &&
        (form.confirmPassword.$error.required || form.confirmPassword.$error.compareTo)}">
          <label>New Password Confirmation *</label>
          <input type="password" name="confirmPassword" class="form-control" ng-model="data.password_confirmation"
          k41-compare-to="data.password" required>
          <span class="help-block" ng-show="(form.$dirty || submitted) && form.confirmPassword.$error.required">You must re-enter the new password here.</span>
          <span class="help-block" ng-show="(form.$dirty || submitted) && form.confirmPassword.$error.compareTo">The entered passwords do not match.</span>
        </div>

    		<div class="panel-footer">
          <div class="pull-right">
            <button ng-click="cancel()" class="btn btn-lg btn-default">cancel</button>
            <button ng-click="save()" ng-disabled="!loaded || !form.$valid" class="btn btn-lg btn-primary">save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="panel panel-primary" ng-if="serverError || dataErrors || dataWarnings">
    <k41-custom-server-error-display title='Password Reset Failed' server-error='serverError'>
      <div ng-if="customErrorList['Not found']">
        <p>
        Oops! There was a problem with your password reset.  Please return to the
        <a ui-sref="login">Login</a> page and try to sign in or click forgot password again.
        </p>
      </div>
      <div ng-if="!customErrorList['Not found']">
        <p>
          Oops! There was an issue with your password reset on our end.  Please return to the <a ui-sref="login">Login</a> page and try again.
        </p>
        <p ng-if="serverErrors.incidentNumber">
          We have been notified of this issue, but if it persists, please contact us with the following
          incident id: {{serverErrors.incidentNumber}}.
        </p>
      </div>
    </k41-custom-server-error-display>
    <k41-data-error-display error-title="Change Password Errors" warning-title="Change Password Warnings"
      errors="dataErrors" warnings="dataWarnings">
    </k41-data-error-display>
  </div>
</div>
