<div class="verticalcenter" ng-controller="SignupPageDetailsController">
  <a href="#/"><img src="assets/img/logo_fullscreen.png" alt="Logo" class="brand" /></a>
  <div class="panel panel-primary">
    <div class="panel-body">
      <h4 class="text-center" style="margin-bottom: 25px;">Setting username/password</h4>
      <form name="form" role="form" novalidate class="form" style="margin-bottom: 0px !important;">
        <k41-form-input-group width="12" type="vertical" title="Username *" errors="[{username: [{required: 'You must enter a username.'},
                {invalid: 'User with this Username already exists.'}]}]">
          <input type="text" name="username" class="form-control" ng-model="data.username" ng-change="hideUsernameError()"
                 required>
        </k41-form-input-group>

        <k41-form-input-group width="12" type="vertical" title="New Password *" errors="[{password: [{required: 'You must enter a new password.'},
                {pattern: 'Your password must contain at least:<br/>1 upper case letter<br/>1 lower case letter<br/>1 number or special character<br/>
            It must be at least 8 characters in length.'}]}]">
          <input type="password" name="password" class="form-control" ng-model="data.password"
                 required ng-pattern="patterns.password">
        </k41-form-input-group>

        <k41-form-input-group width="12" type="vertical" title="New Password Confirmation *" errors="[{password_confirmation: [
          {required: 'You must re-enter the new password here.'},
          {compareTo: 'The entered passwords do not match.'}]}]">
          <input type="password" name="password_confirmation" class="form-control" ng-model="data.password_confirmation"
                 required k41-compare-to="data.password">
        </k41-form-input-group>
      </form>
    </div>
    <div class="panel-footer">
      <div class="pull-right">
        <a ui-sref="login" class="btn btn-lg btn-default">Cancel</a>
        <button ng-click="save()" class="btn btn-lg btn-primary" ng-disabled="!form.$valid">Save</button>
      </div>
    </div>
  </div>
</div>
