<div class="fullpage-container">
  <div class="row">
    <div class="col-md-12">

      <div class="signup" ng-controller="SignupPageController">

        <span><img src="assets/img/logo_fullscreen.png" alt="Logo" class="brand" /></span>

        <div class="panel">
          <div class="panel-body">
            <h1 class="text-center">Sign Up for Kode41 Theme</h1>
            <div class="text-center">
            This is demo how your sign up page could look.
            </div>
            <div class="row" ng-hide="showConfirmation">
              <div class="col-md-12">
                <form name="signup_form" class="form-horizontal" novalidate>
                  <div class="col-md-12">

                    <alert type="danger" ng-repeat="err in signupErrors" close="closeError($index)"><strong>{{err.field}}</strong> {{err.msg}}</alert>

                    <h3>Your Details</h3>

                    <div class="form-group" ng-class="fieldHasError(signup_form.first_name)">
                      <label class="col-sm-3 control-label">First Name</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" required ng-model="signupData.user.first_name" name="first_name">
                        <span class="help-block" ng-show="showError(signup_form.first_name, 'required')"> First Name Required</span>
                      </div>
                    </div>

                    <div class="form-group" ng-class="fieldHasError(signup_form.last_name)">
                      <label class="col-sm-3 control-label">Last Name</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" required ng-model="signupData.user.last_name" name="last_name">
                        <span class="help-block" ng-show="showError(signup_form.last_name, 'required')"> Last Name Required</span>
                      </div>
                    </div>

                    <div class="form-group" ng-class="fieldHasError(signup_form.email)">
                      <label class="col-sm-3 control-label">Email</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" required ng-model="signupData.user.email" name="email" ng-pattern="patterns.email">
                        <span class="help-block" ng-show="showError(signup_form.email, 'required')"> Email Required</span>
                        <span class="help-block" ng-show="showError(signup_form.email, 'pattern')"> Please enter a valid email</span>
                      </div>
                    </div>

                    <div class="form-group" ng-class="fieldHasError(signup_form.username)">
                      <label class="col-sm-3 control-label">Username</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" required ng-model="signupData.user.username" name="username">
                        <span class="help-block" ng-show="showError(signup_form.username, 'required')"> Username Required</span>
                      </div>
                    </div>

                    <div class="form-group" ng-class="fieldHasError(signup_form.password)">
                      <label class="col-sm-3 control-label">Password</label>
                      <div class="col-sm-6">
                        <input type="password" name="password" class="form-control" ng-model="signupData.user.password"
                        required ng-pattern="patterns.password">
                        <span class="help-block" ng-show="showError(signup_form.password, 'required')"> Password Required</span>
                        <span class="help-block" ng-show="showError(signup_form.password, 'pattern')">
                          Your password must contain at least:<br/>1 upper case letter<br/>1 lower case letter<br/>1 number or special character<br/>
                          It must be at least 8 characters in length.</span>
                      </div>
                    </div>

                    <div class="form-group" ng-class="fieldHasError(signup_form.password_confirmation)">
                      <label class="col-sm-3 control-label">Repeat Password</label>
                      <div class="col-sm-6">
                        <input type="password" name="password_confirmation" class="form-control" required k41-compare-to="signupData.user.password" ng-model="signupData.user.password_confirmation">
                        <span class="help-block" ng-show="showError(signup_form.password_confirmation, 'required')"> Password Required</span>
                        <span class="help-block" ng-show="showError(signup_form.password_confirmation, 'compareTo')"> Passwords must match</span>
                      </div>
                    </div><!-- end your details -->

                    <div class="form-group" ng-class="fieldHasError(signup_form.legal_name)">
                      <label class="col-sm-3 control-label">Company Legal Name</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" name="legal_name" ng-model="signupData.legal_name" required>
                        <span class="help-block" ng-show="showError(signup_form.legal_name, 'required')"> Company Legal Name Required</span>
                      </div>
                    </div>

                    <hr>

                    <div class="text-center">
                      <button type="submit" class="btn-lg btn btn-primary" ng-click="signupSubmit()">Sign Up!</button>
                    </div>

                  </div><!--end first col-->
                </form>
              </div>
            </div><!--row-->
            <div class="row" ng-show="showConfirmation">
              <h4 class="text-center">Click <a ui-sref="login">here</a> to back on the login page. </h4>
            </div>
          </div><!--End panel-body-->
        </div><!--panel-->
      </div>


    </div>
  </div>
</div>
