<div class="loginbg"></div>
  <div class="login-overlay verticalcenter" ng-controller="LoginController">
    <a href="#/"><img src="assets/img/logo_fullscreen.png" alt="Logo" class="brand" /></a>
    <div class="panel panel-primary">
      <form name="user_login" class="form-horizontal" style="margin-bottom: 0px !important;">
        <k41-server-error-display title='Login Error' server-error='serverError'></k41-server-error-display>
        <div class="panel-body">

        <h6 style="margin-bottom: 25px">
          This website is built to demonstrate usage of Project Bones. Project Bones is a skeleton JavaScript code for Angular front end of webapps that communicate with back-end using REST API. Check out <a href="https://bitbucket.org/kode41/project-bones/" target="_blank">Project Bones </a> source code.
        </h6>
        <h6 style="margin-bottom: 25px">
          This website is just for demonstration purposes. All the forms are placeholders only and the data you enter in the forms will not be persisted anywhere. You can log in/sign up with any data you want and check out the functionality of the theme. Also some pages might read that you will receive an email when you submit some data. This is not the case. As this is a demo only no emails will be sent from this website.
        </h6>
        <h6 class="text-center" style="margin-bottom: 25px">
          If you do not have a login yet please sign up <a name="signup" ui-sref="signup" href="#/signup">here</a>.
        </h6>
          <div class="form-group ">
            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="username" id="username" required placeholder="Username" ng-model="userLogin.username">
              </div>
              <span class="help-block" ng-show="user_login.username.$error.required && user_login.username.$dirty">Username Required</span>
            </div>
          </div>

          <div class="form-group ">
            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" name="password" id="password" required placeholder="Password" ng-model="userLogin.password">
              </div>
              <span class="help-block" ng-show="user_login.password.$error.required && user_login.password.$dirty">Password Required</span>
            </div>
          </div>

        </div>

        <div class="panel-footer forgot-password-overlay">
          <a ng-click="forgotPassword()" class="pull-left btn btn-link" style="padding-left:0">Forgot password?</a>

          <div class="pull-right">
            <button type="button" ng-click="user_login.$setPristine(); reset()" class="btn btn-lg btn-default">Reset</button>
            <button type="submit" ng-disabled="user_login.$invalid" ng-click="loginSubmit(userLogin); user_login.$setPristine()" class="btn btn-lg btn-primary">Log In</button>
          </div>
        </div>

      </form>
    </div>
  </div>
<script type="text/javascript">
  $('.loginbg').randomizeElementBackgrounds({max: 12});
</script>
