.health-data {
  .panel;

  .section-title {
    .panel-heading;
    .panel-grey;

    font-size: 13px;
    letter-spacing: .1em;
    color: #4f5259;
    text-transform: uppercase;
    line-height: 40px;
    text-rendering: auto;
    margin-bottom: 15px;
  }

  .btn-cancel {
    .btn-danger;
  }

  .btn-save {
    .btn-success;
  }

  .btn-edit {
    .btn-primary;
  }

  .review-button-holder button + button{
    margin-right: 5px;
  }
}
