//
// Calendar Event Styles
// --------------------------------------------------

.calendar-unapproved {
  background-color: @calendar-unapproved !important;
}

.calendar-approved {
  background-color: @calendar-approved !important;
}

.calendar-rejected {
  background-color: @calendar-rejected !important;
  text-decoration: line-through;
}

.calendar-new {
  background-color: @calendar-new !important;
}

.calendar-payroll {
  background-color: @calendar-payroll !important;
}
