.document-container {
  border: 1px solid @gray-dark;
  background: @gray-light;
  text-align: center;
  padding: 10px 10px 0px;
  display: inline-block;
  min-width: 50%;
  max-width: 100%;

  .contained-item {
    display: inline-block;
    background: white;
    margin: auto;
    max-width: 100%;
  }

  .contained-item.contained-border {
    border: 1px solid @gray-dark;
  }

  .contained-item.contained-shadow {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(148,148,148,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(148,148,148,1);
    box-shadow: 5px 5px 5px 0px rgba(148,148,148,1);
  }

  .pagination {
    margin-top: 10;
  }

  .placeholder {
    width: 765px;
    padding: 20px;
  }

  &.disabled, &[disabled] {
    position: relative;

    .contained-item {
      background: @gray-lighter;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: ' ';
    }
  }

  // Document Jcrop
  ///////////////////////////////////////
  canvas {
    cursor: crosshair;
  }

  .jcrop-selection {
    .close {
      z-index: 3;
      position: absolute;
      left: auto;
      right: 5px;
    }

    .jcrop-box {
      background-color: @brand-primary;
      opacity: 0.5;
      overflow: hidden;

      &:hover {
        -webkit-box-shadow: 0px 0px 15px 0px @brand-primary;
        -moz-box-shadow: 0px 0px 15px 0px @brand-primary;
        box-shadow: 0px 0px 15px 0px @brand-primary;
      }
    }

    &:not(.jcrop-current) {
      .close, .jcrop-handle, .jcrop-dragbar {
        display: none;
      }

      .jcrop-box {
        cursor: pointer;
      }
    }

    &:hover > .close{
      display: block;
    }
  }
}
