.selector-bounds {
  height: 200px;
}
.selector-bounds-half {
  height: 100px;
}

.selector-bounds, .selector-bounds-half {
  position: relative;

  .selector-column {
    .clearfix();
    border: 1px solid @gray-light;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
    height: 100%;

    .selector-column-header {
      text-align: center;
      margin-left: -10px;
      margin-right: -10px;
      background-color: @gray-light;
      color: white;
      font-size: 1.2em;
      font-weight: bold;
      border-bottom: 2px dashed @gray-light;
    }

    &.selector-center-vertically {
      border: 0px;
      position: relative;
      height: 100%;
      overflow: hidden;
      text-align: center;

      .selector-center-values {
        position: absolute;
        top: 35%;
        text-align: center;
        left: -2px;
        right: 1px;
        width: 100%;

        .selector-button {
          position: relative;
          width: 100%;
          margin: 0;
          border: 1px solid @gray-light;
        }
      }
    }

    .selector-column-body {
      margin-left: -10px;
      margin-right: -10px;
    }

    .sub-selector-column-body {
      padding-left: -10px;
      padding-right: -10px;
    }

    .selector-column-body, .sub-selector-column-body {
      font-size: 1em;
      font-weight: normal;

      .selector-column-item {
        border-bottom: 1px solid @brand-primary;
        line-height: 2em;

        &.disabled {
          background-color: white;
          border-color: @brand-disabled;
          color: @brand-disabled;
          a {
          color: @brand-disabled;
          }
        }

        &.selected {
          background-color: @brand-primary;
          border-color: white;
          a {
            color: white;
          }
        }

        &.duplicateLabel {
          border-color: red;
          &.selected {
            background-color: #FFCCCC;
          }
          a {
            color: red;
          }
        }
      }
    }
  }

  .selector-column-left-snug {
    position: absolute;
    left: 0;
  }
}
