//Utility Functions
//-----------------------

.invert-colors(@brd-clr){
	background-color:#fff !important;
	color:@brd-clr;
	border-color:@brd-clr;
	border: 1px solid;


}


.invert-success {.invert-colors(@brand-success);}
.invert-orange {.invert-colors(@brand-orange);}
.invert-brown {.invert-colors(@brand-brown);}
.invert-primary {.invert-colors(@brand-primary);}
.invert-info {.invert-colors(@brand-info);}
.invert-inverse {.invert-colors(@brand-inverse);}
.invert-indigo {.invert-colors(@brand-indigo);}
.invert-midnightblue {.invert-colors(@brand-midnightblue);}
.invert-danger {.invert-colors(@brand-danger);}




//Additional Buttons Colors
//--------------------------

.btn-invert-clr(@brand-clr){
	color:#fff;
	border:1px solid #fff;
	background:@brand-clr;
	&:hover{
		background:#fff;
		color:@brand-clr;

	}

}

.btn-invert-primary {.btn-invert-clr(@brand-primary);}
.btn-invert-inverse {.btn-invert-clr(@brand-inverse);}
.btn-invert-success {.btn-invert-clr(@brand-success);}
.btn-invert-warning {.btn-invert-clr(@brand-warning);}
.btn-invert-danger {.btn-invert-clr(@brand-danger);}
.btn-invert-info {.btn-invert-clr(@brand-info);}
.btn-invert-brown {.btn-invert-clr(@brand-brown);}
.btn-invert-orange {.btn-invert-clr(@brand-orange);}
.btn-invert-indigo {.btn-invert-clr(@brand-indigo);}
.btn-invert-midnightblue {.btn-invert-clr(@brand-midnightblue);}
.btn-invert-sky {.btn-invert-clr(@brand-sky);}
.btn-invert-magenta {.btn-invert-clr(@brand-magenta);}
.btn-invert-purple {.btn-invert-clr(@brand-purple);}
.btn-invert-green {.btn-invert-clr(@brand-green);}
.btn-invert-grape {.btn-invert-clr(@brand-grape);}
.btn-invert-toyo {.btn-invert-clr(@brand-toyo);}
.btn-invert-alizarin {.btn-invert-clr(@brand-alizarin);}


.btn-group(@clr){

		background:lighten(@clr, 8%);
		color:#fff;
		height: 34px;
		padding: 7px 9px;
		box-shadow: none !important;
		border:0px !important;


}


.btn-group-primary {.btn-group(@brand-primary);}
.btn-group-inverse {.btn-group(@brand-inverse);}
.btn-group-success {.btn-group(@brand-success);}
.btn-group-warning {.btn-group(@brand-warning);}
.btn-group-danger {.btn-group(@brand-danger);}
.btn-group-info {.btn-group(@brand-info);}
.btn-group-brown {.btn-group(@brand-brown);}
.btn-group-orange {.btn-group(@brand-orange);}
.btn-group-indigo {.btn-group(@brand-indigo);}
.btn-group-midnightblue {.btn-group(@brand-midnightblue);}
.btn-group-sky {.btn-group(@brand-sky);}
.btn-group-magenta {.btn-group(@brand-magenta);}
.btn-group-purple {.btn-group(@brand-purple);}
.btn-group-green {.btn-group(@brand-green);}
.btn-group-grape {.btn-group(@brand-grape);}
.btn-group-toyo {.btn-group(@brand-toyo);}
.btn-group-alizarin {.btn-group(@brand-alizarin);}

//
//------------------------------------

.help-block.danger{
	color:@brand-brown;
}









//Employii Colors
//------------------------------------

@employii-light-gray: #DCDEE3;
@employii-light-blue: lighten(@brand-primary, 25%);





//Custom Employii Overrides
//-------------------------------------

// ng-tags-input (bower component) for note tagging UI

tags-input {

  border: 1px solid #E1E3E8;
  border-radius: 3px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  &.ng-invalid .tags {
    box-shadow: none !important;
  }

  .tags {

    border: 0px !important;
    box-shadow: none;
    height: 105px;
    overflow-y: auto;

    .input {
      font-size: 13px;
      border: 0px;
      font-family: 'Open Sans','Segoe UI','Droid Sans',Tahoma,Arial,sans-serif;
      color: rgb(187, 187, 187);
    }

    .tag-item {
      font-size: 13px;
      font-family: 'Open Sans','Segoe UI','Droid Sans',Tahoma,Arial,sans-serif;
    }

    &.focused {
      box-shadow: none !important;
      border-color: #4697ce;
    }

  }

  ::-webkit-scrollbar {
    background: transparent;
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }

}

.navbar-inverse .navbar-nav > .open > a{
	background-color:@brand-primary !important;
}

.panel-grey{
	background: @employii-light-gray;
}

.panel-grey > .panel-heading >h4{
	color:@brand-inverse !important;
}

.file-cabinet-user-permission-listing {

  .panel-heading {
    display: none;
  }

  .dirty-entry-indicator {
    color: #4697ce;
    font-size: 10px;
  }

  .issue-entry-indicator {
    color: #ff0000;
  }

}

.documents_view_area {

  [class*=panel-].panel .panel-body {
    padding: 0px;
  }

  .panel-body.panel-main {
    padding: 0px;
  }

  div.col-md-12:first-of-type {
    padding: 0px;
  }

  .custom_documents_list_view {
    padding: 0px;
  }

}

.header-label{
	display:block;
	padding:25px 5px;
	font-size:110%;
	text-align:left !important;
	color:@brand-primary;
}

 .focusedform  .panel{
	width: 500px;
}

 .focusedform  .signup .panel{
   width: 800px;
}

.clickable {
  cursor: pointer;
}

dl {
  &.dt-left-align {
    dt {
      text-align: left;
    }
  }

  &.dt-normal {
    dt {
      font-weight: @font-weight-base;
    }
  }
}

.table {
  &.table-striped-dual {
    > tbody > tr {
      &:nth-child(4n+1),
      &:nth-child(4n+2) {
        > td,
        > th {
          background-color: @table-bg-accent;
        }
      }

      &:nth-child(4n+3),
      &:nth-child(4n+4) {
        .table-nested {
          background-color: @table-bg-accent;
        }
      }
    }
  }

  &.table-hover-dual {
    > tbody > tr:nth-child(odd) {
      &:hover,
      &:hover + tr {
        > td,
        > th {
          background-color: @table-bg-hover;
        }
      }
    }
  }

  .hover:hover {
    background-color: @table-bg-hover;
  }

  &.table-dual {
    > tbody > tr[ng-repeat-start],
    > tfoot > tr {
      > td, > th {
        border-top: 1px solid @border-darker;
      }
    }

    > thead > tr > th {
      border-bottom: 2px solid @border-darker;
    }

    &.dual-rows-merged {
      > tbody > tr:nth-child(even) {
        > td, > th {
          border-top: none;
        }
      }
    }
  }

  &.float-vertical-aligned {
    .float-vertical-align > div:not(.no-float-vertical-align) {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .no-float-vertical-align.vertical-stack{
      margin-top: -5px;

      .btn{
        margin-top: 5px;
      }
    }
  }

  .text-ellipsis {
    .text-overflow();
  }
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

label.required:after {
  content: ' *';
}


//Main Header
//---------------------------


#employii-header{
  background: @body-bg;
}

header#employii-header #leftmenu-trigger {
	border-color: rgba(255, 255, 255, 0.2);
  background-color: @body-bg;
}

header#employii-header .toolbar .dropdown{
	border-left:0px;
  color: @brand-inverse;
}


header#employii-header #headerbardropdown,
header#employii-header #rightmenu-trigger {
  border-color: rgba(255, 255, 255, 0.2);
}

//Left Nav
//------------------


#sidebar li.mode a{

	padding:0px 0px 0px 10px;
}

#sidebar > li.active > a {
	background: @brand-primary !important;
	color: #ffffff;
}

/*
.mode{
	background:#fbfbfb !important;
	&:hover{
		background:#f3f4f6 !important;
	}
}
*/

.mode .toggle-switch{
	display:inline-block;
	vertical-align:top;
	border:0px !important;
	border-radius:0px !important;
	box-shadow:none;
	line-height:normal;
  width: 185px;
}

.mode .toggle-switch .switch-right{
	color:#fff;
	//background:@sidebar-background !important;
	background:#333 !important;
}

.mode .toggle-switch .switch-left{
	color:#fff;
	//background:@sidebar-background !important;
	background:#333 !important;
}

.mode .toggle-switch .knob{
	//color: @gray-darker ! important;
	//background:@employii-light-gray !important;
	color:@employii-light-gray !important;
	//background:@sidebar-background !important;
	background:#333 !important;
}

.mode a i{
	padding-top:11px;
	padding-bottom:11px;
}

.mode .toggle-switch span{
	padding:10px 0px;
	line-height:normal !important;
}

body #main.collapse-leftbar #page-leftbar li.mode:not(:hover) .toggle-switch {
  display: none;
}

//body #main.collapse-leftbar #page-leftbar .mode .toggle-switch{
//	position:static;
//	width:230px;
//	margin-top:-2px;
//	margin-left:-12px;
//}

//@media (max-width: 767px){
//	body #main.show-leftbar #page-leftbar .mode .toggle-switch {
//		position:static;
//		width:190px;
//		margin-top:-2px;
//		margin-left:0px;
//	}
//}


//Login and Sign-up
//---------------------------------


.focusform .verticalcenter.signup{

	position: absolute;
	top: 42%;
	left: 50%;
	margin-top: -186px;
	margin-left: -250px;
}


.singup small{
	font-size:77%;
}



//Fullpage

.fullpage {
		height: auto;
		min-height: 900px;
		background: @sidebar-background;
		padding: 0;

	.fullpage-container{
		width:80%;
		max-width:880px;
		margin:0 auto;
	}

	.fullpage-container .panel-heading h4{
		text-align:center;
		float:none;
	}


	.fullpage-container .panel-body h3{
		text-align:center;
		margin-bottom:30px;
		margin-top:30px;
		font-size:21px;
		//text-transform:uppercase;
		font-weight:400;
		color:@gray-dark;
	}


	#page-rightbar, header {display: none;}

	//.panel {width: 400px;}
	.brand {
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0 auto;
    width: 150px;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(243,243,243,0.64) 0%, rgba(243,243,243,0.15) 58%, rgba(255,255,255,0.13) 60%, rgba(255,255,255,0) 76%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(243,243,243,0.64) 0%,rgba(243,243,243,0.15) 58%,rgba(255,255,255,0.13) 60%,rgba(255,255,255,0) 76%);
    background: radial-gradient(ellipse at center,  rgba(243,243,243,0.64) 0%,rgba(243,243,243,0.15) 58%,rgba(255,255,255,0.13) 60%,rgba(255,255,255,0) 76%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3f3f3f3', endColorstr='#00ffffff',GradientType=1 );
  }

	.verticalcenter {
		position: absolute;
		top: 42%;
		left: 50%;
		margin-top: -186px;  //half the height of the div.
		margin-left: -200px;
	}

	#wrap {
  		overflow: visible;
  		height: 100%;
	}

	#page-container {
  		height: 100%;
	}
	#page-content {
  		margin-left: 193px !important;
  		height: 100%;
  		position: relative;
	}

	#page-rightbar, #page-leftbar {
  		display: none;
	}
}


//Form Overrides
//----------------------------------------


.has-error .editable-error {
	color: @brand-danger;
}

.editable-wrap {
  .editable-error, .help-block {
    white-space: normal;
  }
}


// Filter indicator stylings
//----------------------------------------

.pto-request-filter-indicator {
  margin-left: 10px;
}

div.time-entry-filter-indicator {
  padding-bottom: 20px;
  margin-left: 10px;
  button {
    margin-left: 10px;
  }
}

div.time-entry-filter-field {
  margin-bottom: 70px;
}

//Loader
//----------------------------------------

em-loader {
  display: block;
  width: 100%;
  height: 100%;
  min-width: 128px;
  min-height: 128px;
  background: rgba(1,1,1,0) url(../img/loader.gif) center center / auto no-repeat;
}

em-loader-overlay {
  background: rgba(255, 255, 255, 0.5);

  .loader-message {
    margin-top: .5em;
    text-align: center;
    font-style: italic;
    font-size: large;
    color: @gray;
  }
}

.employee-dir-legend {
    margin-bottom: 10px;
}

.manager-indicator {
  color: @brand-primary;
}

.employee-dir-legend .manager-indicator {
  padding-right: 10px;
  padding-top: 2px;
  float: left;
}

.manager-indicator-details {
  padding-right: 0px !important;
  color: @brand-primary;
}

.account-contact-end-rows {
  border: 0px !important;
}

.note-immutable-description {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-break: normal;
}

.time-entry-history-project-row {
  background-color: #f0f8ff;
}

.time-entry-no-rounded-value {
  color: #f00;
}

div.time-entry-no-rounded-value-gen-msg {
  margin-bottom: 7px;
  margin-left: 10px;
}

div.time-entry-no-rounded-value-gen-msg i.fa-exclamation-triangle {
    color: #f00;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}

div.time-entry-unsaved-indicator-col {

  width: 16px;
  height: 16px;
  float: left;

  .fa.fa-circle {
    font-size: 10px;
    color: @brand-info;
  }

}

.transparent-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-color: inherit;

  .loader-container {
    display: table;
    width:100%;
    height: 100%;

    .loader-image {
      display: table-cell;
      vertical-align: middle;

      em-loader {
        min-height: 0px;
        min-width: 0px;
        max-height: 128px;
        max-width: 128px;
        background-size: contain;
      }
    }
  }
}

.file-cabinet-file-upload-dialog {

  .container {
    padding: 10px;
    .upload-form {
       margin-bottom: 10px;
    }
  }

  .file-size-indicator {
    margin-top: 10px;
    color: #bbb;
  }

}

.file-cabinet-permissions-dialog {

  .panel-heading {
    font-size: 16px;
    padding-top: 4px !important;
    text-overflow: ellipsis;
  }

  .panel-body.text-danger {
    padding: 0px;
  }

  .search-bar {
    margin-left: -12px;
  }

  .notification-control-region {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -50px;
  }

  .server-error-message-panel {

    height: 50px;
    border: 1px solid;
    overflow-y: auto;
    font-size: 10px;

    .row {
      margin-left: 4px;
      margin-right: 0px;
    }

  }

  .permissions-saved-indicator {
    color: #58be75;
    margin-top: -18px;
  }

  .permissions-dirty-indicator {
    color: #e75a5a;
    margin-top: -27px;
    i {
      float: left;
      height: 20px;
      margin-top: 3px;
    }
    div {
      margin-left: 20px;
    }
  }

  .bulk-read-permission-button {
    margin-top: 10px;
    margin-left: 8px;
    font-size: 12px;
  }

  .permission-listing-container {
    margin-top: -29px;
  }

  .user-inclusion-pane {
    margin-left: 17px;
  }

}

.file-cabinet-employee-view {

  button {
    float: left;
  }

  .download-error {
    color: #f00;
    font-size: 10px;
    margin-left: 47px;
  }

}

.file-cabinet-entry .text-danger {
  font-size: 10px;
  margin-left: -5px;
  margin-top: -15px;
}

.file-cabinet-user-permission-listing {

  .panel-body {
    border: 1px solid #e1e3e8 !important;
    height: 326px;
    margin-top: 12px;
  }

  table {
	  font-size: 12px;
  }

  .entry-pending-removal {
    text-decoration: line-through;
  }

  .permission-toggle-button {
    padding: 2px 6px 2px;
    font-size: 8px;
  }

}

.toggle-switch.disabled {
  cursor: default;
  .opacity(.65);
  .box-shadow(none);

  span {
    cursor: default;
  }
}

.editable-click, a.editable-click {
  border-bottom: none;
}

.editable-buttons button.editable-buttons-submit {
  .btn();
  .btn-sm();
  .btn-success();
}
.editable-buttons button.editable-buttons-cancel {
  .btn();
  .btn-sm();
  .btn-danger();
}

.fullsize {
	width: 100%;
}

.em-form-control {
  &[disabled] {
    background-color: #ededed;
  }
}

.table {
  .monetary-currency, .monetary-amount {
    text-align: right
  }
  .monetary-frequency {
    text-align: left
  }
}

.em-map-canvas {
  height: 400px;
}

.em-strikeout {
  text-decoration: line-through;
}

pre.keep-words {
  white-space: pre-wrap;
  word-break: normal;
}

.unsupported-browser {
  border-color: @state-danger-border;
  color: @state-danger-text;
  border: 1px solid;
  background-color: @state-danger-bg;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  font-size: large;
  z-index: 99;

  .browser-name,
  .browser-version {
    font-weight: bold;
  }
}

.tooltip-inner > .em-even-row {
  background-color: #222;
  margin-left:  -2px;
  margin-right: -2px;
}

// login background

.login-overlay .brand {
  opacity: .95;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(243,243,243,0.87) 0%, rgba(243,243,243,0.29) 59%, rgba(255,255,255,0.29) 60%, rgba(255,255,255,0) 76%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(243,243,243,0.87) 0%, rgba(243,243,243,0.29) 59%, rgba(255,255,255,0.29) 60%, rgba(255,255,255,0) 76%);
  background: radial-gradient(ellipse at center,  rgba(243,243,243,0.87) 0%, rgba(243,243,243,0.29) 59%, rgba(255,255,255,0.29) 60%, rgba(255,255,255,0) 76%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3f3f3f3', endColorstr='#00ffffff',GradientType=1 );
}

.login-overlay .panel-body {
  background-color: rgba(255,255,255,0.92) !important;
}

.login-overlay .panel-footer {
  background-color: rgba(251,251,251,0.85) !important;
}

.loginbg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;

  &.bg1 {
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (max-width: 479px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/01/2x3/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (min-width: 480px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/01/2x3/480w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/01/3x2/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) and (max-width: 1199px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/01/3x2/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 1200px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/01/3x2/1200w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/01/1x1/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/01/1x1/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
  }
  &.bg2 {
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (max-width: 479px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/02/2x3/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (min-width: 480px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/02/2x3/480w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/02/3x2/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) and (max-width: 1199px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/02/3x2/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 1200px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/02/3x2/1200w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/02/1x1/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/02/1x1/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
  }
  &.bg3 {
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (max-width: 479px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/03/2x3/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (min-width: 480px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/03/2x3/480w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/03/3x2/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) and (max-width: 1199px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/03/3x2/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 1200px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/03/3x2/1200w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/03/1x1/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/03/1x1/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
  }
  &.bg4 {
    opacity: .65;
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (max-width: 479px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/04/2x3/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (min-width: 480px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/04/2x3/480w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/04/3x2/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) and (max-width: 1199px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/04/3x2/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 1200px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/04/3x2/1200w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/04/1x1/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/04/1x1/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
  }
  &.bg5 {
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (max-width: 479px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/05/2x3/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (min-width: 480px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/05/2x3/480w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/05/3x2/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) and (max-width: 1199px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/05/3x2/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 1200px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/05/3x2/1200w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/05/1x1/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/05/1x1/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
  }
  &.bg6 {
    opacity: .65;
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (max-width: 479px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/06/2x3/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (min-width: 480px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/06/2x3/480w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/06/3x2/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) and (max-width: 1199px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/06/3x2/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 1200px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/06/3x2/1200w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/06/1x1/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/06/1x1/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
  }
  &.bg7 {
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (max-width: 479px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/07/2x3/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (min-width: 480px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/07/2x3/480w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/07/3x2/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) and (max-width: 1199px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/07/3x2/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 1200px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/07/3x2/1200w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/07/1x1/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/07/1x1/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
  }
  &.bg8 {
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (max-width: 479px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/08/2x3/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (min-width: 480px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/08/2x3/480w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/08/3x2/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) and (max-width: 1199px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/08/3x2/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 1200px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/08/3x2/1200w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/08/1x1/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/08/1x1/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
  }
  &.bg9 {
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (max-width: 479px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/09/2x3/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (min-width: 480px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/09/2x3/480w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/09/3x2/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) and (max-width: 1199px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/09/3x2/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 1200px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/09/3x2/1200w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/09/1x1/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/09/1x1/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
  }
  &.bg10 {
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (max-width: 479px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/10/2x3/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (min-width: 480px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/10/2x3/480w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/10/3x2/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) and (max-width: 1199px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/10/3x2/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 1200px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/10/3x2/1200w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/10/1x1/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/10/1x1/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
  }
  &.bg11 {
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (max-width: 479px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/11/2x3/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (min-width: 480px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/11/2x3/480w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/11/3x2/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) and (max-width: 1199px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/11/3x2/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 1200px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/11/3x2/1200w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/11/1x1/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/11/1x1/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
  }
  &.bg12 {
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (max-width: 479px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/12/2x3/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @min-supported-aspect-ratio) and (max-aspect-ratio: @mid-supported-aspect-ratio) and (min-width: 480px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/12/2x3/480w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/12/3x2/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) and (max-width: 1199px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/12/3x2/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 1200px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/12/3x2/1200w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (max-width: 599px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/12/1x1/320w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
    @media(min-aspect-ratio: @mid-supported-aspect-ratio) and (max-aspect-ratio: @max-supported-aspect-ratio) and (min-width: 600px) {
      @tmp:replace(~"%BG_IMG_PREFIX%/bg/12/1x1/600w.jpg", "%BG_IMG_PREFIX%", @background-location);
      background-image: url(@tmp);
    }
  }
}

div.employii-avatar {
  width: 200px;
  height: 200px;

  img {
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    width: 200px;
  }

  button {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;

    &.upload-button {
      background-color: @brand-success;
      top: 150px;
      left: 150px;
    }

    &.upload-button-visible {
      background-color: @brand-success;
      top: 150px;
      left: 150px;
      opacity: 1;
    }

    &.delete-button {
      background-color: @brand-danger;
      top: 150px;
      left: 0;
    }
  }

  &:hover button {
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -o-transition: 0.75s;
    -ms-transition: 0.75s;
    transition: 0.75s;
    opacity: 1;
  }
}

.nav-tabs > li.em-pto-calendar-tab {
  background-color: white !important;
  > a {
    background-color: white !important;
  }
  &.active > a {
    color: @brand-primary !important;
    box-shadow: 0 0 0 0 white !important;
  }
}

@media print {
  *{transition:none!important}
  .no-print {
    display: none !important;
    width: 0px !important;
  }
  .col-print-1 {width:8% !important;  float:left;}
  .col-print-2 {width:16% !important; float:left;}
  .col-print-3 {width:25% !important; float:left;}
  .col-print-4 {width:33% !important; float:left;}
  .col-print-5 {width:42% !important; float:left;}
  .col-print-6 {width:50% !important; float:left;}
  .col-print-7 {width:58% !important; float:left;}
  .col-print-8 {width:66% !important; float:left;}
  .col-print-9 {width:75% !important; float:left;}
  .col-print-10{width:83% !important; float:left;}
  .col-print-11{width:92% !important; float:left;}
  .col-print-12{width:100% !important; float:left;}
}

.intl-tel-input {

  .flag-dropdown {
    display: none;
  }
}

.checkbox-inline+.checkbox-inline.to-date-selector {
  margin-left: 0px;
}
