//scaffolding.less

:focus {outline:none;}
::-moz-focus-inner {border:0;}

html {
   -ms-overflow-style: scrollbar; //IE10 stop scroll bar from appearing over content
	-webkit-font-smoothing: antialiased;
	// text-rendering: optimizeLegibility;
}

body {font-weight: @font-weight-base;}
a {outline: none; cursor: pointer;}
.img-rounded {border-radius: 5px;}

hr.outsider {
	margin-left: -15px;
	margin-right: -15px;
	border-top: 1px solid @border-lighter;
}

//helper classs
.m0 {margin: 0 !important;}

.mt0 {margin-top: 0 !important;}
.mt5 {margin-top: 5px !important;}
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}

.mb0 {margin-bottom: 0 !important;}
.mb5 {margin-bottom: 5px !important;}
.mb10 {margin-bottom: 10px !important;}
.mb15 {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important;}

.p0 {padding: 0 !important;}

.pt0 {padding-top: 0 !important;}
.pt5 {padding-top: 5px !important;}
.pt15 {padding-top: 15px !important;}
.pt20 {padding-top: 20px !important;}

.pb0 {padding-bottom: 0 !important;}
.pb5 {padding-bottom: 5px !important;}
.pb15 {padding-bottom: 15px !important;}
.pb20 {padding-bottom: 20px !important;}

.w100 {width: 100% !important;}

// columns of same height styles
// http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}

//type.less
.text-primary, .text-warning, .text-danger, .text-success, .text-info {
	// &:hover {color: inherit;}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: @headings-font-family;
	font-weight: @headings-font-weight;
}

h1, h2, h3, .h1, .h2, .h3 {
	margin-top: 0;
	font-weight: 300;
}

h1 small, .h1 small,
h2 small, .h2 small,
h3 small, .h3 small {font-weight: 300;}


.list-inline > li {
	&:first-child {padding-left: 0;}
}

.panel dl    {margin: 0 auto;}
.panel dl dd {margin-bottom:10px;}

blockquote {
	font-style: italic;
	border-left-width: 2px;
	&.pull-right {
		border-right-width: 2px;
	}
}

address {display: block;}

//code.less
kdb, samp {
	font-family: @font-family-monospace;
}

pre {
	margin-bottom: 20px;
	&.prettyprint {
    	margin-bottom: 10px; //@line-height-computed;
    }
}

// tables.less


// Responsive Tables


.table {
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				vertical-align: middle;
			}
		}
	}
}

.table-responsive {
	overflow-x: auto;
}
@media (max-width: @screen-xs-max) {

	/* Wrap your tables in `.table-flipscroll` and we'll fix the header and make the tbody scrollable */
	.table-flipscroll {
		table, thead {.clearfix();}
		table, caption, td, thead, thead tr, th, tbody {display: block;}

		table {
			width: 100%; border-collapse: collapse; border-spacing: 0; position: relative;

			th, td {margin: 0; vertical-align: top;
				&:last-child {border-bottom: 1px solid @table-border-color;}
			}
			td {min-height: 1.25em; text-align: left; border-left: 0; border-right: 0; border-bottom: 0;}

			thead {float: left;}
			th {text-align: left; border-bottom-width: 1px !important; border-left: 0;
				&:first-child {border-top: 1px solid transparent !important;}
			}

			tbody {width: auto; position: relative; overflow-x: auto; white-space: nowrap;
				tr  {display: inline-block; vertical-align: top; border-left: 1px solid @table-border-color;}
			}
		}
	}

	/* Force table to not be like tables anymore */
	.table-vertical {
		table, caption, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		tr { border: 1px solid #ccc; }

		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid @table-border-color;
			position: relative;
			padding-left: 50% !important;
			white-space: normal;
			text-align:left;
			&:before {
    		    position: absolute; // Now like a table header
    		    top: 6px; // Top/left values mimic padding //
    		    left: 6px;
    		    width: 45%;
    		    padding-right: 10px;
    		    white-space: nowrap;
    		    text-align:left;
    		    font-weight: bold;
    		    content: attr(data-title); // Label the data
    		}
		}
	}
}

// .table-hidecolumn {
// 	@media (max-width: @screen-xs-max) {
// 		.table-hide-xs {display:none; visibility:hidden;}
// 		.table-hide-sm {display:none; visibility:hidden;}
// 		.table-hide-md {display:none; visibility:hidden;}
// 	}
// 	@media (max-width: @screen-sm-max) {
// 		.table-hide-xs {display:none; visibility:hidden;}
// 		.table-hide-sm {display:none; visibility:hidden;}
// 	}
// 	@media (max-width: @screen-md-max) {
// 		.table-hide-md {display:none; visibility:hidden;}

// 	}
// }

// forms.less
legend {
	padding-bottom: 5px;
	font-weight: 300;
	font-size: @font-size-h3;
}

label {margin-bottom: 10px; font-weight: normal;}

select[multiple] {
  padding: 7px !important;
}

.form-control {
	border: 1px solid @border-darker;
	color: @gray-dark;
	height: @input-height-base - 3;
	padding: 7px 9px;
	box-shadow: none !important;
	//.box-shadow(inset 0 1px 0px rgba(0,0,0,0.015)) !important;
	select& {
		padding: 6px 9px 5px 4px;
	}
	&:focus {border-color: @brand-primary;}
}

.input-sm {
  .input-size((@input-height-small - 2); (@padding-small-vertical - 1); @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small) !important;
}

.input-lg {
  .input-size((@input-height-large - 2); (@padding-large-vertical - 1); @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large) !important;
}

.form-horizontal .control-label, .form-control-static {
	padding-top: 8px;
	padding-bottom: 0;
}

.form-group {
	margin-bottom: 15px;
	// Use row-border with a form to have both top and bottom 1px separation
	.row-border & {
		border-top: 1px solid lighten(@border-lighter, 5%);;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-bottom: 0;
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 5px;
		padding-right: 5px;
		&:first-child {
			border-top: 0;
			padding-top: 0;
		}
	}
}

.input-group-addon input[type="radio"], .input-group-addon input[type="checkbox"] {
	position: absolute;
	top: 10px;
	margin: 0 -5px;
}

.help-block {
	margin-bottom: 0;
	margin-top: 8px;
}


form .ng-dirty.ng-invalid {
	border-color: @state-danger-text;
	color: @state-danger-text;
}
form .ng-dirty.ng-valid {
	border-color: @state-success-text;
	color: @state-success-text;
}
form .no-validate {
	border: 1px solid @border-darker !important;
	color: @gray-dark !important;
}

.select2-container.ng-dirty {
	border: none !important;
}



.input-icon {
	position: relative;
	> i {
		position: absolute;
		display: block;
		margin: 10px 12px;
		color: #CCC;
		text-align: center;
		width: 1.2em;
	}
	&.right > i {
		right: 0px;
		float: right;
	}
}


// buttons.less
.btn {
	font-family: @btn-font-family;
	border-width: 0px;
	.box-shadow(~"inset 0 0px 0px 0px rgba(0,0,0,0.07)");
	&:focus {
		outline: none;
	}
	&:active, &.active, &.fc-state-active {
	.box-shadow(~"inset 0 0px 0px 0px rgba(0,0,0,0.07)");
	}
}

.btn-default:hover {color: @gray-darker;}
.btn-group.open .dropdown-toggle {.box-shadow(~"inset 0 0px 0px 0px rgba(0,0,0,0.07)") !important;}

.btn-link, .btn-link:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-inverse {
 .button-variant(@btn-inverse-color, @btn-inverse-bg, @btn-inverse-border);
}
.btn-white {
 .button-variant(@btn-white-color, @btn-white-bg, @btn-white-border);
}
.btn-link {
	.box-shadow(~"none");
}

// custom colors
.btn-brown {
  .button-variant(#fff, @brand-brown, @brand-brown);
}
.btn-indigo {
  .button-variant(#fff, @brand-indigo, @brand-indigo);
}
.btn-orange {
  .button-variant(#fff, @brand-orange, @brand-orange);
}
.btn-sky {
  .button-variant(#fff, @brand-sky, @brand-sky);
}
.btn-midnightblue {
  .button-variant(#fff, @brand-midnightblue, @brand-midnightblue);
}
.btn-magenta {
  .button-variant(#fff, @brand-magenta, @brand-magenta);
}
.btn-green {
  .button-variant(#fff, @brand-green, @brand-green);
}
.btn-purple {
  .button-variant(#fff, @brand-purple, @brand-purple);
}
.btn-alizarin {
  .button-variant(#fff, @brand-alizarin, @brand-alizarin);
}
.btn-block + .btn-block {
	margin-top: 10px;
}
.btn.btn-file {
  position: relative;
  overflow: hidden;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}

// Alternate buttons
// --------------------------------------------------

.btn-default-alt {
  .btn-alt-states(@btn-default-bg);
  &:active, &.active {color: @gray-dark !important;}
}

.btn-primary-alt      {.btn-alt-states(@btn-primary-bg);}
.btn-warning-alt      {.btn-alt-states(@btn-warning-bg);}
.btn-danger-alt       {.btn-alt-states(@btn-danger-bg);}
.btn-success-alt      {.btn-alt-states(@btn-success-bg);}
.btn-info-alt         {.btn-alt-states(@btn-info-bg);}
.btn-inverse-alt      {.btn-alt-states(@btn-inverse-bg);}

// custom colors
.btn-brown-alt        {.btn-alt-states(@brand-brown);}
.btn-indigo-alt       {.btn-alt-states(@brand-indigo);}
.btn-orange-alt       {.btn-alt-states(@brand-orange);}
.btn-sky-alt          {.btn-alt-states(@brand-sky);}
.btn-midnightblue-alt {.btn-alt-states(@brand-midnightblue);}
.btn-magenta-alt      {.btn-alt-states(@brand-magenta);}
.btn-green-alt        {.btn-alt-states(@brand-green);}
.btn-purple-alt       {.btn-alt-states(@brand-purple);}
.btn-alizarin-alt       {.btn-alt-states(@brand-alizarin);}


.btn[class*="alt"] {
  padding: (@padding-base-vertical)-1 (@padding-base-horizontal)-1;  // border makes up for the paddings we are decreasing
}
.btn-lg[class*="alt"] {
  .button-size((@padding-large-vertical)-1;( @padding-large-horizontal)-1; @font-size-large; @line-height-large; @border-radius-large);
}

.btn-sm[class*="alt"] {
  .button-size((@padding-small-vertical)-1; (@padding-small-horizontal)-1; @font-size-small; @line-height-small; @border-radius-small);
}

.btn-xs[class*="alt"] {
  .button-size((@padding-small-vertical)-1; (@padding-small-horizontal)-1; @font-size-small; @line-height-small; @border-radius-small);
  padding: 0 4px;
}
