.notifications td {
  padding: 10px !important;
}

.notification-user i 	{color: @brand-midnightblue;}
.notification-warning i {color: @brand-warning;}
.notification-danger i 	{color: @brand-danger;}
.notification-fix i 	{color: @brand-inverse;}
.notification-success i {color: @brand-success;}
.notification-failure i {color: @brand-danger;}
.notification-order i 	{color: @brand-info;}
