//
// Reports Styles
// --------------------------------------------------

@report-table-border: 2px solid @text-color;
@report-table-border-thin: 1px solid @text-color;

.report-header-info {
  font-size: 1.2em;
}

table#report-payroll-summary {

  border: @report-table-border;

  th.payroll_summary_grouping {
    text-transform: uppercase;
    text-align: left;
    background-color: #efe;
  }

  tr.employee_payroll_total_section {
    background-color: #f0f8ff;
  }

  tr.payroll_summary_grand_total_section {
    background-color: #f0f8ff;
  }

  tbody, tfoot {
    > tr {
      > th, > td {
        border-top: none;
        vertical-align: top;
        text-align: right;

        &:nth-child(1) {
          text-align: left;
        }

        &:nth-child(2),
        &:nth-child(7)
        {
          text-align: left;
          border-left: @report-table-border;
        }

        &:nth-child(10),
        &:nth-child(13) {
          border-left: @report-table-border;
        }
      }
    }
  }

  tbody, tfoot {
    > tr.payroll_summary_subheader,
    > tr.payroll_summary_content {
      > th, > td {

        &:nth-child(10) {
          text-align: left;
        }

      }
    }
  }

  thead > tr > th {
    text-align: center;
    text-transform: uppercase;
    border-left: @report-table-border;
    border-bottom: @report-table-border;
  }

  tbody > tr {
    &[ng-repeat-start] {
      > td {
        text-transform: uppercase;
        border-top: @report-table-border-thin;
        padding-bottom: .5em;
      }

      + tr > td:first-child {
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    &[ng-repeat-end] > td {
      padding-top: .5em;
    }
  }

  tfoot > tr {
    &:first-child > th {
      text-transform: uppercase;
      border-top: @report-table-border;
      border-left: @report-table-border;
      padding-top: 1.5em;
      text-align: left;
    }

    &:last-child > th {
      padding-top: 1em;
    }
  }

}

table#report-contractor {

  border: @report-table-border;

  thead > tr > th {
    text-align: left;
    text-transform: uppercase;
    border-bottom: @report-table-border;
  }

  tbody > tr > td {
    &:not(:first-child) {
      vertical-align: top;
    }
  }

  tfoot > tr {
    th {
      text-transform: uppercase;
    }

    th, td {
      border-top: @report-table-border;
      text-align: left;
    }
  }

}
