.signature-pad {
  border: 1px solid @gray-dark;
  background: @gray-light;
  text-align: center;
  padding: 10px;

  canvas, img {
    border: 1px solid @gray-dark;
    background: white;
  }

  &.disabled, &[disabled] {
    position: relative;

    canvas, img {
      background: @gray-lighter;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: ' ';
    }
  }
}
