/* Drop Downs */

header {
	/*Icon should be white when there is a notification*/
	a.hasnotifications {color:#fff !important;}

	.toolbar .dropdown, #headerbardropdown, #rightmenu-trigger {
		border-left: 1px solid @navbar-vertical-separator;
	}
	#leftmenu-trigger {
		border-right: 1px solid @navbar-vertical-separator;
	}
}

.scrollthis {
	height: 260px; overflow: auto;
	li {
	     .clearfix();
	     a {display: block; text-decoration: none;}
	}
	+ .dd-footer {border-top: 1px solid #e6e7e8;}
}

.dropdown-menu {
	&.notifications, &.messages {padding: 0; z-index: 1300; width: 320px;}

	//.tooltip {
	//	visibility: visible;
	//	position: absolute;
	//}


	&.notifications li, &.messages li {
		border-bottom: 1px solid @border-lighter;
		color: @gray-dark !important;
		a {
			white-space: normal; color: @gray-dark;
			&.active {color: @gray-darker !important; background: #f5f6f7 !important}
			&.active:hover {color: @gray-darker !important; background: #f2f3f5 !important}
			&:hover {color: @gray-darker !important; background: none !important}

			// Manually fix width for tooltip
			.btn-mark-unread + .tooltip > .tooltip-inner {min-width: 83px;}

			button.btn-mark-read, button.btn-mark-unread, button{
				float: right; border: none !important;
				padding: 0 !important;
				background: none !important;
				 line-height: 0;

				i {
					color: lighten(@gray, 7%) !important;
					margin: 0;
					font-size: 9px !important;
					padding: 3px !important;
					margin-right: -3px;
					// margin-left: 5px;

				}
				&:hover{ i {color: @brand-primary !important;}}
			}
		}
		.time {color: @gray-light; padding-left: 10px; padding-right: 5px; font-size: @font-size-mini; white-space: nowrap; text-align: right; vertical-align: top; line-height: 16px;}

		&.dd-header a, &.dd-footer a {color: @link-color;}
		&.dd-header {
			padding: 6px 10px; .clearfix; font-size: @font-size-mini;
			span:first-child {.pull-left; font-weight: 400;}
			span:last-child {
				.pull-right;
				a {padding: 0 !important;}
			}
			a {background: none !important}
			a:hover {color: @link-hover-color !important}
		}
		&.dd-footer {
			font-size: @font-size-mini;
			a {text-align: center; padding: 7px 10px; &:hover{background: none !important; color: @link-hover-color !important; text-decoration: underline;}}
		}
		&:last-child {border-bottom: 0;}
	}

	&.notifications li {
		a {
			padding: 15px;
			line-height: 16px;
			i {
				.pull-left;
				padding: 5px 0; text-align: center; margin-top: -4px; margin-right: 7px;
			}
			.msg {overflow: hidden; display: inline;}
		}
		.time {float: right;}
	}

	&.messages li {
		 a {
			line-height: 14px;
			img {.pull-left; margin-right: 10px; height: 30px; border-radius: 50%}
			 div {overflow: hidden; position: relative;}

			padding: 15px;
			.name {margin-top: 0px; color: @gray-darker;} .msg {padding-top: 5px;}

			.tooltip, .tooltip-arrow {position: absolute !important;}
		}
		.time {float: right;}
		img {height:30px;width:30px; border-radius: 50%}
		span {display: block;}
		span.msg {font-size: @font-size-mini; color: @grayed2;}
	}

	&.userinfo {
		padding: 0px 15px;
		min-width: 200px;
		.clearfix();
		ul {padding-left: 0;}
		li {list-style:none;}
		h5 {margin: -2px 0 -2px 0;}

		li.username {
			.clearfix();
			margin: 0 -15px;
			padding: 0 10px 10px;
			border-bottom: 1px solid @border-lighter;

			a {padding: 0 5px;}

			.pull-left img {width: 30px; border-radius: 50%;}
			.pull-right {
				min-width: 130px;
				small {
					color: @grayed2;
					span {color: @link-color}
				}
			}
		}

		.userlinks {
			ul {
				display: block;
				position: relative;
				border:none;
				background: transparent;
				width: 100%;
				.box-shadow(~"none");

				li {
					margin: 0 -15px;
					a {white-space: inherit;}
					&.divider {margin: 5px -15px;}
				}

				i.pull-right {margin-top:2px;}
			}
		}
	}
	&.search {
		width: 280px;
		padding: 0;
		input[type="text"] {border:none;height: 38px;}
	}
}

#headerbardropdown {
	padding: 8px 10px;
	span {background-color: none; padding: 2px 8px 3px 8px; display: block;border-radius:@border-radius-small}
	i {margin-left: 0px;}
}

.toolbar.navbar-nav           {margin: 0;}
.navbar-nav .dropdown-toggle  {padding-top: 11px; padding-bottom: 10px;}
.navbar-nav.toolbar>li        {float: right;}


a.username {
	padding: 8px 10px !important;
	font-size: 12px !important;

	.clearfix();
	span {
		font-weight: 600;
		padding-right: 8px;
	    //Visual Alignment
	    top:2px;
	    position: relative;
	    float: left;
	}
	img {
		height: 24px;
		width: 24px;
		border-radius: 50%;
		float: right;
	}
}

.dropdown-menu.userinfo .username a {
	.clearfix();
	padding: 0;
	color: @gray-darker;
	&:hover {text-decoration: none;background: none;}
}

header.navbar {margin-bottom:0px; border:none;}

/* Nav and Sidebar Badges
// ------------------------*/

.nav .badge, #sidebar .badge {
	text-align: center;
	text-shadow: none !important;
}

.nav .badge {
	top: 4px;
	left: 22px;
	position: absolute;

	//background-color: @brand-danger;
}

#sidebar .badge {
	float: right;

	position: absolute;
  	top: 11px;
  	right: 30px;
}

/* The toggle links for left/right sidebar */
.navbar .btn {font-size: 1em; padding: 5px;}
.navbar .btn.pull-left {border-right: 1px solid #555; margin-right: 10px;}
.navbar .btn.pull-right {border-left: 1px solid #555; margin-left: 10px}


/* Menu Triggers */
#leftmenu-trigger, #rightmenu-trigger {
	height: 40px; width: 40px; cursor: pointer;
  text-align: center;
  font-size: 1.3333em;
  margin-top: 5px;
  color: @brand-inverse;
}
#leftmenu-trigger {
	background-position: 0 0; float: left;
	&:hover {background-position: 0 40px;}
}
#rightmenu-trigger {
	background-position: 39px 0; float: right;
	&:hover {background-position: 39px 40px;}
}

@media (max-width: @screen-xs-max) {
	//Alignments in small screen
	.dropdown-menu.messages {
		margin-right: -35px;
		&:before {margin-right: 35px;}
	}
	.dropdown-menu.notifications {
		margin-right: -85px;
		&:before {margin-right: 85px;}
	}

	// Menu Horizontal
	nav.navbar .dropdown-menu {
		position: relative;
		float: none;
		background: none;
		.box-shadow(~"none");
		border:none;
	}
	nav.navbar .navbar-header {width: auto;}
}

nav.navbar {margin-bottom: 0;}
